<ion-view title="About Me">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix">
                <a ng-click="isMenuOpen = !isMenuOpen" href="javascript:;" class="trend-menu floatR "><img src="img/phase-2/menu-icon.png"></a>
                <ul ng-show="isMenuOpen" class="trend-menu-list text-center ng-hide">
                    <li class="trend-menu9">
                        <a href="#/app/tab/brewfeed"><img src="img/phase-2/trend-store-icon9.png"></a></li>
                    <li class="trend-menu1"><a href="#/app/tab/store"><img src="img/phase-2/trend-store-icon1.png"></a>
                    </li>
                    <li class="trend-menu5"><a href="#/app/tab/brewpoints"><img src="img/phase-2/trend-store-icon5.png"></a>
                    </li>
                    <li class="trend-menu2"><a href="#/app/tab/brews"><img src="img/phase-2/trend-store-icon2.png"></a>
                    </li>
                    <li class="trend-menu3">
                        <a href="#/app/tab/mywishes"><img src="img/phase-2/trend-store-icon3.png"></a></li>
                    <li class="trend-menu4">
                        <a href="#/app/tab/myoffers"><img src="img/phase-2/trend-store-icon4.png"></a></li>
                    <li class="trend-menu8"><a href="#/app/tab/followers"><img src="img/phase-2/trend-store-icon8.png"></a>
                    </li>
                    <li class="trend-menu7"><a href="#/app/tab/blogs"><img src="img/phase-2/trend-store-icon7.png"></a>
                    </li>
                    <li class="trend-menu6"><a href="#/app/tab/videos"><img src="img/phase-2/trend-store-icon6.png"></a>
                    </li>
                    <li class="trend-menu10 trend-active"><a href="#/app/tab/about"><img src="img/phase-2/profile.png"></a>
                    </li>
                </ul>
            </div>
            <div class="profile-container">
                <div class="profile-form-wrap">
                    <div class="profile-form-group">
                        <div class="profile-form-left">
                            <img alt="form-name-icon" src="img/phase-2/form-name-icon.png">
                        </div>
                        <div class="clearfix Fields-FL profile-form-right">
                            <div class="profile-form-right floatL">
                                <label>First Name</label>
                                <input ng-model="profile.firstName" type="text" value="{{profile.firstName}}">
                            </div>
                            <div class="profile-form-right floatL">
                                <label>Last Name</label>
                                <input ng-model="profile.lastName" type="text" value="{{profile.lastName}}">
                            </div>
                        </div>
                    </div>
                    <div class="profile-form-group">
                        <div class="profile-form-left">
                            <img alt="form-name-icon" src="img/phase-2/form-name-icon.png">
                        </div>
                        <div class="profile-form-right">
                                <label>About</label>
                                <input type="text" ng-model="profile.description" value="{{profile.description}}">
                        </div>
                    </div>
                    <div class="profile-form-group">
                        <div class="profile-form-left">
                            <img alt="form-email-icon" src="img/phase-2/form-email-icon.png">
                        </div>
                        <div class="profile-form-right">
                            <label>Email</label>
                            <input type="email" value="{{profile.email}}" disabled="disabled">
                        </div>
                    </div>
                    <div class="profile-form-group">
                        <div class="profile-form-left">
                            <img alt="form-url-icon" src="img/phase-2/form-url-icon.png">
                        </div>
                        <div class="profile-form-right">
                            <label>My TrendStore URL</label>
                            <input type="url" value="http://trendbrew.com/{{profile.trendbrewId}}/store" disabled="disabled">
                        </div>
                    </div>
                    <div class="profile-form-group">
                        <div class="profile-form-left">
                            <img alt="form-website-icon" src="img/phase-2/form-website-icon.png">
                        </div>
                        <div class="profile-form-right">
                            <label>No Site Listed</label>
                            <input type="text" ng-model="profile.website" value="No Site Listed">
                        </div>
                    </div>
                    <div class="profile-form-group">
                        <div class="profile-form-left">
                            <img alt="form-video-icon" src="img/phase-2/form-video-icon.png">
                        </div>
                        <div class="profile-form-right">
                            <label>Video Link</label>
                            <input type="text" value="No Site Listed">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="orange-button" ng-click="saveProfile(profile)">Save</button>
            </div>
            <div class="social-connect-wrap">
                <div class="social-item">
                    <div class="social-item-left">
                        <img src="img/phase-2/fb-icon.png" alt="fb-icon">
                        <span>Lynsey.facebook.com</span>
                    </div>
                    <div class="social-item-right">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">

                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="social-item">
                    <div class="social-item-left">
                        <img src="img/phase-2/twit-icon.png" alt="twitter-icon">
                        <span>Lynsey@twitter.com</span>
                    </div>
                    <div class="social-item-right">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">

                            <div class="track">
                                <!-- <span class="on">ON</span> <div class="handle"></div><span class="off">OFF</span>-->
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="social-item">
                    <div class="social-item-left">
                        <img src="img/phase-2/google-plus-icon.png" alt="google-plus-icon">
                        <span>Connect Google+ & Earn 20 Brew Points</span>
                    </div>
                    <div class="social-item-right">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">

                            <div class="track">
                                <!-- <span class="on">ON</span> <div class="handle"></div><span class="off">OFF</span>-->
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>


                <div class="social-item">
                    <div class="social-item-left">
                        <img src="img/phase-2/instagram-icon.png" alt="instagram-icon">
                        <span>Connect Instagram & Earn 20 Brew Points</span>
                    </div>
                    <div class="social-item-right">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">

                            <div class="track">
                                <!-- <span class="on">ON</span> <div class="handle"></div><span class="off">OFF</span>-->
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="social-item">
                    <div class="social-item-left">
                        <img src="img/phase-2/pinterest-icon-sm.png" alt="pinterest-icon-sm">
                        <span>Connect Pinterest & Earn 20 Brew Points</span>
                    </div>
                    <div class="social-item-right">
                        <label class="toggle toggle-balanced">
                            <input type="checkbox">

                            <div class="track">
                                <!-- <span class="on">ON</span> <div class="handle"></div><span class="off">OFF</span>-->
                                <div class="handle"></div>
                            </div>
                        </label>
                    </div>
                    <div class="social-add-link">
                        <input type="text" placeholder="Enter your Pinterest Link">
                        <input type="button" class="social-add-btn">
                    </div>
                </div>

                <div class="social-connect-info">
                    <div class="help-text">
                        <p>Help</p>
                    </div>
                    <h3>What is the need to connect my different social networks?</h3>

                    <div class="social-connect-section">
                        <p><strong>Become a Social Influencer</strong></p>

                        <p>Connecting to your social networks enables us to post your brews and re-brews on
                            products/services and you will become a “Social Influencer”</p>
                    </div>
                    <div class="social-connect-section">
                        <p><strong>Earn Rewards</strong></p>

                        <p>Earn rewards as purchase commissions on your “brews”. Social connections enable your brews to
                            reach out to your direct and indirect social connections</p>
                    </div>
                </div>

            </div>
        </section>
    </ion-content>
</ion-view>
