<ion-view title="Blog">
    <ion-content>
        <div class="video-container">
            <div class="topblog-img">
                <img ng-if="blogDetail.image" ng-src="{{blogDetail.image}}">
                <img ng-hide="blogDetail.image" ng-src="img/default-blog.png">
            </div>
            <div class="blog-wrap padding">
                <p>{{blogDetail.description}}</p>
                <a class="default-button" ng-click="openExternalUrl(blogDetail.source)">View Blog</a>
            </div>
            <div class="video-content ">
                <div class="video-row clearfix">
                    <div class="column-68">
                        <h1>{{blogDetail.name}}</h1>
                        <label><img src="img/phase-2/brew-icon.png">{{blogDetail.numBrews}}</label>
                        <label><img src="img/phase-2/view-icon.png"> {{blogDetail.numClicks}}</label>
                    </div>
                    <div class="column-30 text-right">
                        <a class="orange-button" href="javascript:;" ng-click="brewTrendAdd()">Brew Trend</a>
                    </div>
                </div>
                <div class="video-row clearfix prof-avatar">
                    <div class="column-68">
                        <label class="prof-img">
                            <img ng-if="blogDetail.brewerImageURL" ng-src="{{blogDetail.brewerImageURL}}">
                            <img ng-hide="blogDetail.brewerImageURL" ng-src="img/followers/avatar.png"></label>
                        <label>{{blogDetail.brewerName}}</label>
                    </div>
                    <div class="column-30 text-right" ng-if="consumerId > 0" data-ng-controller="trendbrewersdetailsCtrl" data-ng-init="brewerDetsils(blogDetail.brewerId)">

                        <a class="default-button" ng-if="brewDetails.isFollower && blogDetail.brewerId!=consumerId" href="javascript:;" ng-click="unFollow(brewDetails.consumerId)">Unfollow</a>
                        <a class="default-button" ng-if="!brewDetails.isFollower && blogDetail.brewerId!=consumerId" href="javascript:;" ng-click="follow(brewDetails.consumerId)">Follow</a>
                        <a class="default-button" ng-if="blogDetail.brewerId==consumerId" href="javascript:;">Me</a>
                    </div>
                </div>
                <div class="video-row offer-list" ng-if="blogDetail.items.length>0">
                    <h2>Linked Products</h2>
                    <ul class="clearfix">
                        <li ng-repeat="item in blogDetail.items">
                            <div class="offer-img">
                                <a href="#/app/tab/productviewdetails/{{ item.id }}">
                                    <img ng-src="{{item.image}}"/>
                                </a>
                            </div>
                            <div class="offer-text">
                                <p><label>{{item.numDeals}}</label> Offer</p>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>