<ion-view title="Shop">
    <ion-content has-header="true">
        <div class="search-filter-wrap">
            <div class="search-wrap clearfix">
                <div class="floatL search-btn">
                    <a href="javascript:;" class="search-icon"></a>
                    <input type="text" class="search-inpt" placeholder="Search Retailer Here" ng-change="searchChange(searchKey.value)" ng-model="searchKey.value" name="searchKey.value"/>
                </div>
                <a href="javascript:;" class="search-cancel floatL" ng-click="goToExternalUrl(searchKey.value)">Go</a>
            </div>

            <div ng-show="showExternalUrls">
                <div class="parent-div">
                    <div class="loaderBg-filter white-bg" ng-show="!externalUrls.length"></div>
                    <div class="close-arrow-wap" ng-click="closeSearchResult()">
                        <a class="ion-android-close" href="javascript:;"></a>
                    </div>

                    <ul class="external-list" ng-click="closeSearchResult()">

                        <li ng-repeat="externalUrl in externalUrls" ng-click="goToExternalUrl(externalUrl.source)">
                            <a href="javascript:;">{{externalUrl.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="search-text">
                <div class="search-wrd" ng-click="searchWord('A'); "><a href="javascript:;">A</a></div>
                <div class="search-wrd" ng-click="searchWord('B'); "><a href="javascript:;">B</a></div>
                <div class="search-wrd" ng-click="searchWord('C'); "><a href="javascript:;">C</a></div>
                <div class="search-wrd" ng-click="searchWord('D'); "><a href="javascript:;">D</a></div>
                <div class="search-wrd" ng-click="searchWord('E'); "><a href="javascript:;">E</a></div>
                <div class="search-wrd" ng-click="searchWord('F'); "><a href="javascript:;">F</a></div>
                <div class="search-wrd" ng-click="searchWord('G'); "><a href="javascript:;">G</a></div>
                <div class="search-wrd" ng-click="searchWord('H'); "><a href="javascript:;">H</a></div>
                <div class="search-wrd" ng-click="searchWord('I'); "><a href="javascript:;">I</a></div>
                <div class="search-wrd" ng-click="searchWord('J'); "><a href="javascript:;">J</a></div>
                <div class="search-wrd" ng-click="searchWord('K'); "><a href="javascript:;">K</a></div>
                <div class="search-wrd" ng-click="searchWord('L'); "><a href="javascript:;">L</a></div>
                <div class="search-wrd" ng-click="searchWord('M'); "><a href="javascript:;">M</a></div>
                <div class="search-wrd" ng-click="searchWord('N'); "><a href="javascript:;">N</a></div>
                <div class="search-wrd" ng-click="searchWord('O'); "><a href="javascript:;">O</a></div>
                <div class="search-wrd" ng-click="searchWord('P'); "><a href="javascript:;">P</a></div>
                <div class="search-wrd" ng-click="searchWord('Q'); "><a href="javascript:;">Q</a></div>
                <div class="search-wrd" ng-click="searchWord('R'); "><a href="javascript:;">R</a></div>
                <div class="search-wrd" ng-click="searchWord('S'); "><a href="javascript:;">S</a></div>
                <div class="search-wrd" ng-click="searchWord('T'); "><a href="javascript:;">T</a></div>
                <div class="search-wrd" ng-click="searchWord('U'); "><a href="javascript:;">U</a></div>
                <div class="search-wrd" ng-click="searchWord('V'); "><a href="javascript:;">V</a></div>
                <div class="search-wrd" ng-click="searchWord('W'); "><a href="javascript:;">W</a></div>
                <div class="search-wrd" ng-click="searchWord('X'); "><a href="javascript:;">X</a></div>
                <div class="search-wrd" ng-click="searchWord('Y'); "><a href="javascript:;">Y</a></div>
                <div class="search-wrd" ng-click="searchWord('Z'); "><a href="javascript:;">Z</a></div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>