<ion-view title="Videos">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
            <div class="topvideos-alt">
                <div class="padding">
                    <a class="orange-button" href="javascript:;" ng-click="addvideo=true">Add Video</a>

                    <form class="form-wrapper" ng-show="addvideo">
                        <h1>You can upload videos here or Click on related product in top trends or your Trend Store and
                            Add Video in the Product details page</h1>
                        <input type="text" placeholder="Video Title" ng-model="videoData.title">
                        <input type="text" placeholder="Add Video URL" ng-model="videoData.url">
                        <input type="button" value="Add" class="add-btn" ng-click="addVideo(videoData);">
                        <input type="button" value="Cancel" class="add-btn cancel-btn" ng-click="addvideo=false;">
                    </form>
                </div>
                <ul>
                    <li class="clearfix padding" ng-repeat="video in brewerVideos">
                        <div class="floatL vid-img">
                            <div>
                                <div youtube-video="video.source"></div>
                            </div>
                        </div>
                        <div class="floatR clearfix vid-content">
                            <div class="floatL vid-content-details">
                                <h1 class="font20 text-format">{{video.name}}</h1>

                                <p>Linked to <em>{{ video.items.length }}</em> Products</p>

                                <div class="clearfix vid-content-brew floatR">
                                    <div class="floatL vid-content-view">
                                        <h1 class="font20">{{video.brewerName}}</h1>

                                        <div class="vid-brews clearfix ">
                                            <div class="vid-brew-details">
                                                <img src="img/phase-2/view-icon.png">
                                                <em>{{ video.numClicks }}</em>
                                            </div>
                                            <div class="vid-brew-details">
                                                <img src="img/phase-2/brew-icon.png">
                                                <em>{{video.numBrews}}</em>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="floatR vid-content-img">
                                        <img ng-if="video.brewerImageURL" ng-src="{{video.brewerImageURL}}">
                                        <img ng-hide="video.brewerImageURL" ng-src="img/followers/avatar.png">
                                    </div>
                                </div>
                            </div>
                            <div class="vid-content-menu floatR">
                                <a href="javascript:;"><img src="img/phase-2/youtube-menu.png" alt="youtube-menu"></a>
                            </div>
                        </div>
                        <a href="#/app/tab/videodetail/{{video.id}}" class="detail-link"></a>
                    </li>

                </ul>
            </div>
            <!--profile-content-wrap ends-->
        </section>
    </ion-content>
</ion-view>