<ion-view title="Feeds">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
            <div class="profile-list-view brew-feed-wrap">
                <ul>
                    <li ng-repeat="feedsDetail in feedsDetails">
                        <div class="brew-feed-img">
                            <div ng-if="undefined != feedsDetail.eventImage">
                                <div class="feed-img" ng-bind-html="feedsDetail.eventImage">
                                </div>
                            </div>
                        </div>
                        <div class="brew-feed-desc">
                            <div class="brew-feed-profile">
                                <div class="feed-prof-name">
                                    <p>{{ feedsDetail.ownerName }}</p>
                                    <!--<span>{{ feedsDetail.eventTime }}</span>-->
                                    <time-ago from-time='{{ feedsDetail.eventTime }}'></time-ago>
                                </div>
                                <div class="feed-prof-img">
                                    <img alt="display-img" ng-if="undefined != feedsDetail.ownerImage" ng-src="{{feedsDetail.ownerImage}}"/>
                                    <img alt="display-img" ng-if="undefined == feedsDetail.ownerImage" src="img/phase-2/profile-pic.png"/>
                                </div>
                            </div>
                            <div class="feed-msg" ng-bind-html="feedsDetail.eventMessage"></div>
                        </div>
                        <div class="feed-bottom">
                            <div class="feed-bottom-wrap">
                                <p>{{feedsDetail.numLikes}} Brewlikes</p>

                                <div class="brew-like">
                                    <a href="javascript:;" ng-click="feedLike(feedsDetail)">
                                        <img src="img/phase-2/brew-like.png" alt="brew-like"/></a>
                                </div>
                                <div class="brew-share" ng-if="feedsDetail.itemId > 0" ng-click="brewfeed = !brewfeed">
                                    <div>
                                        <img src="img/phase-2/brew-share.png" alt="brew-share"/>

                                        <div class="share-icons text-center clearfix" ng-show="brewfeed">
                                            <a href="javascript:;" ng-click="email(feedsDetail.itemId)">
                                                <em class="ion-at"></em>
                                            </a>
                                            <a href="javascript:;" ng-click="twitter(feedsDetail.itemId)">
                                                <em class="ion-social-twitter"></em>
                                            </a>
                                            <a href="javascript:;" ng-click="facebook(feedsDetail.itemId)">
                                                <em class="ion-social-facebook"></em>
                                            </a>
                                            <a href="javascript:;" ng-click="googleplus(feedsDetail.itemId)">
                                                <em class="ion-social-googleplus"></em>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="brew-comment">
                                    <a href="javascript:;" ng-click="comment_modal_open(feedsDetail.eventBuzz)">
                                        <img src="img/phase-2/brew-comment.png" alt="brew-comment"/></a>
                                    <div class="send-wrap">
                                        <input type="text" placeholder="Buzz" ng-model="feedsDetail.comment" value="{{comment}}">
                                        <button ng-click="postComment(feedsDetail)" class="post-btn"><img src="img/phase-2/send.png" alt="send-image" /></button>
                                    </div>
                                </div>
                                <div class="brew-group">
                                    <a href="javascript:;"><img ng-src="{{getIcons(feedsDetail.eventType)}}" alt="brew-group"/></a>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <ion-infinite-scroll
                        icon="none"
                        ng-if="noMoreItemsAvailable"
                        on-infinite="loadMore()"
                        distance="1%">
                </ion-infinite-scroll>
            </div>
        </section>
    </ion-content>
</ion-view>
<script id="comment_modal.html" type="text/ng-template">

    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">Comments</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="comment_modal.hide()"></a>
            </div>
            <div class="socialbuzz">
                <div class="popup-content-wrap tab-content-wrap popup-comments">
                    <ion-scroll style="height: 100%;">
                    <ul class="comments-wrap">
                        <li class="clearfix" ng-repeat="comment in commentBuzz"
                            ng-if="comment.comment != null">
                            <div class="text-left">
                                <label>{{comment.commentor}}</label>
                                <p>{{comment.comment}}</p>
                            </div>
                        </li>
                    </ul>
                    </ion-scroll>
                </div>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>
