    <ion-view title="About Me">
        <ion-content>
            <section class="product-detail-wrap top-brewers-product profile-wrap">
                <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
                <div class="profile-container">
                    <div class="profile-form-wrap">
                        <div class="profile-form-group">
                            <div class="profile-form-left">
                                <img alt="form-name-icon" src="img/phase-2/form-name-icon.png">
                            </div>
                            <div class="clearfix Fields-FL profile-form-right"><div class="profile-form-right floatL">
                                <label>First Name</label>
                                <input type="text" value="{{brewersProfile.firstName}}" disabled="disabled">
                            </div>
                                <div class="profile-form-right floatL">
                                    <label>Last Name</label>
                                    <input type="text" value="{{brewersProfile.lastName}}" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="profile-form-group">
                            <div class="profile-form-left">
                                <img alt="form-email-icon" src="img/phase-2/form-email-icon.png">
                            </div>
                            <div class="profile-form-right">
                                <label>Email</label>
                                <input type="email" value="{{brewersProfile.email}}" disabled="disabled">
                            </div>
                        </div>
                        <div class="profile-form-group">
                            <div class="profile-form-left">
                                <img alt="form-url-icon" src="img/phase-2/form-url-icon.png">
                            </div>
                            <div class="profile-form-right">
                                <label>My TrendStore URL</label>
                                <input type="url" value="http://trendbrew.com/{{brewersProfile.trendbrewId}}/store" disabled="disabled">
                            </div>
                        </div>
                        <div class="profile-form-group">
                            <div class="profile-form-left">
                                <img alt="form-website-icon" src="img/phase-2/form-website-icon.png">
                            </div>
                            <div class="profile-form-right">
                                <label>No Site Listed</label>
                                <input type="text" value="No Site Listed" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ion-content>
    </ion-view>