<ion-view title="Followers">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
            <div class="profile-content-wrap">
                <div id="profile-section5">
                    <div class="top-blog-wrap trendbrewers-wrap">
                        <div class="blog" ng-repeat="followersDetail in followersDetails">
                            <a class="blog-link"  href="#/app/tab/trendbrewersdetails/{{ followersDetail.consumerId }}"></a>
                            <div class="blog-image">
                                <img ng-if="followersDetail.imageURL" ng-src="{{followersDetail.imageURL}}?width=125">
                                <img ng-hide="followersDetail.imageURL" ng-src="img/followers/avatar.png">
                            </div>
                            <div class="blog-head">
                                <div class="group-overlay clearfix">
                                    <div class="floatL Go-text">{{ followersDetail.fullName }}</div>
                                    <ul class="floatR Go-share">
                                        <li><img src="img/phase-2/top-brewers-cup.png"><span>{{ followersDetail.numItemTrends }}</span></li>
                                        <li><img src="img/phase-2/top-brewers-share.png"><span>{{ followersDetail.numFollowers }}</span></li>
                                    </ul>
                                </div>
                                <!--<h1>My Sister's</h1>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--profile-content-wrap ends-->
        </section>
    </ion-content>
</ion-view>