<ion-view title="<span class='heading'>Login/Signup</span>">
    <ion-content class="has-header bar-orange bottom0">
        <!--<h1>Login</h1>-->

        <div class="logo">
            <a href=""><img src="img/logo.png"/></a>
        </div>

        <div class="socialBtns">
            <p class="error_message"><span>{{error_messge}}</span></p>
            <button class="button button-block button-positive icon-left ion-social-facebook facebookLogin"
                    ng-click="fbLogin()">
                Login with Facebook
            </button>
            <!--<button class="button button-block icon-left ion-social-twitter button-lightblue twitterLogin"-->
            <!--ng-click="SocialLogin('twitter')">Login with <span>Twitter</span></button>-->
            <button class="button button-block icon-left ion-social-googleplus button-assertive googleplusLogin"
                    ng-click="SocialLogin('google')">Login with <span>Google plus</span></button>
            <a href="#/app/tab/signin" class="button button-block icon-left ion-email  emailLogin"
               ng-hide="normalLgoin">Sign In With <span>Email</span> </a>
            <button class="button button-block icon-left ion-social-instagram button-assertive googleplusLogin instagram-bg"
                    ng-click="instagramLogin()">
                Login with Instagram
            </button>
        </div>
    </ion-content>
    <ion-nav-buttons side="right">
        <a class="button button-icon icon skip-text" ui-sref="app.tabs.toptrends">SKIP</a>
    </ion-nav-buttons>
</ion-view>