<ion-view title="Points">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
            <div class="profile-container">
                <div class="brew-points-wrap">
                    <div class="brew-wrap-item">
                        <div class="brew-wrap-item-left">
                            <div class="brew-wrap-score">
                                <p>Points <strong>{{brewPoins.totalBrewPoints}}</strong></p>
                            </div>
                            <div class="brew-wrap-item-title">
                                <p class="b-title">Total Brewpoints</p>

                                <p>Points available for redemption.</p>
                            </div>
                        </div>
                        <div class="brew-wrap-item-right">
                            <ul>
                                <li class="brew-item-active" brewpoints-tabs><a href="javascript:;"
                                                                                data-tabs="#brew-tab1">Details</a>
                                </li>
                                <li><a href="javascript:;" data-tabs="#brew-tab2">Redeem</a></li>
                            </ul>

                        </div>
                        <div class="brew-item-content">

                            <div id="brew-tab1" class="brew-item-data" style="display: block;">
                                <ion-scroll zooming="true" direction="y" style="height: 100px;">
                                    <div class="table">
                                        <table>
                                            <thead>
                                            <tr>
                                                <td>TX ID</td>
                                                <td>Brewpoints</td>
                                                <td>Transaction Date</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in pointsTransactions">
                                                <td>{{item.transactionId}}</td>
                                                <td>{{item.transactionAmount}}</td>
                                                <td>{{item.transactionDate | limitTo:10 }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ion-scroll>
                            </div>
                            <div id="brew-tab2" class="brew-item-data">
                                <div class="brew-redeem-item">
                                    <div class="brew-redeem-img">
                                        <img src="img/phase-2/brew-item1.png" alt="brew-item1">
                                    </div>
                                    <p class="brew-redeem-text">$25.00 <span>(2500 BrewPoints)</span></p>
                                </div>
                                <div class="brew-redeem-item">
                                    <div class="brew-redeem-img">
                                        <img src="img/phase-2/brew-item2.png" alt="brew-item2">
                                    </div>
                                    <p class="brew-redeem-text">$25.00 <span>(2500 BrewPoints)</span></p>
                                </div>
                                <div class="brew-redeem-item">
                                    <div class="brew-redeem-img">
                                        <img src="img/phase-2/brew-item3.png" alt="brew-item3">
                                    </div>
                                    <p class="brew-redeem-text">$25.00 <span>(2500 BrewPoints)</span></p>
                                </div>
                                <div class="brew-redeem-item">
                                    <div class="brew-redeem-img">
                                        <img src="img/phase-2/brew-item4.png" alt="brew-item4">
                                    </div>
                                    <p class="brew-redeem-text">$25.00 <span>(2500 BrewPoints)</span></p>
                                </div>
                                <div class="brew-redeem-item">
                                    <div class="brew-redeem-img">
                                        <img src="img/phase-2/brew-item5.png" alt="brew-item5">
                                    </div>
                                    <p class="brew-redeem-text">$25.00 <span>(2500 BrewPoints)</span></p>
                                </div>
                                <div class="brew-redeem-item">
                                    <div class="brew-redeem-img">
                                        <img src="img/phase-2/brew-item6.png" alt="brew-item6">
                                    </div>
                                    <p class="brew-redeem-text">$25.00 <span>(2500 BrewPoints)</span></p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="brew-wrap-item green-wrap">
                        <div class="brew-wrap-item-left">
                            <div class="brew-wrap-score">
                                <p>Offer <strong>{{brewPoins.purchaseBrewPoints}}</strong></p>
                            </div>
                            <div class="brew-wrap-item-title">
                                <p class="b-title">PURCHASE BREWPOINTS</p>

                                <p>Points earned from purchases.</p>
                            </div>
                        </div>
                        <div class="brew-wrap-item-right">
                            <ul>
                                <li brewpoints-tabs><a href="javascript:;" data-tabs="#brew-tab3">Details</a></li>
                            </ul>
                        </div>
                        <div class="brew-item-content">
                            <div id="brew-tab3" class="brew-item-data">
                                <ion-scroll zooming="true" direction="y" style="height: 100px;">
                                    <div class="table">
                                        <table>
                                            <thead>
                                            <tr>
                                                <td>TX ID</td>
                                                <td>Amount</td>
                                                <td>Transaction Date</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in myTransaction">
                                                <td>{{item.transactionId}}</td>
                                                <td>{{item.transactionAmount | currency}}</td>
                                                <td>{{item.transactionDate | limitTo:10}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </ion-scroll>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="brew-wrap-item orange-wrap">
                    <div class="brew-wrap-item-left">
                        <div class="brew-wrap-score">
                            <p>Offer <strong>{{brewPoins.storeBrewPoints}}</strong></p>
                        </div>
                        <div class="brew-wrap-item-title">
                            <p class="b-title">COMMISSION BREWPOINTS</p>

                            <p>Points earned from commision.</p>
                        </div>
                    </div>
                    <div class="brew-wrap-item-right">
                        <ul>
                            <li brewpoints-tabs><a href="javascript:;" data-tabs="#brew-tab4">Details</a></li>
                        </ul>
                    </div>
                    <div class="brew-item-content">
                        <div id="brew-tab4" class="brew-item-data">
                            <ion-scroll zooming="true" direction="y" style="height: 100px;">
                                <div class="table">
                                    <table>
                                        <thead>
                                        <tr>
                                            <td>TX ID</td>
                                            <td>Brewpoints</td>
                                            <td>Transaction Date</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in storeTransactions">
                                            <td>{{item.transactionId}}</td>
                                            <td>{{item.transactionAmount}}</td>
                                            <td>{{item.transactionDate | limitTo:10 }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ion-scroll>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>
    </ion-content>
</ion-view>
