<ion-view title="My Offers">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
            <div class="profile-content-wrap">
                <div id="profile-section3">
                    <div class="row offers-wrap">

                        <!--<div ng-repeat="offer in offers" class="col-33 floatL">
                            <article>
                                <div class="padding20 col">
                                    <div class="imgdisplay text-center">
                                        <img alt="display-img-s1-image"
                                             style="height:auto;max-height: 150px;max-width: 80%;"
                                             ng-src="{{offer.imageUrl}}">
                                    </div>
                                    <div class="productname">
                                        <h3 class="">{{offer.productName}}</h3>
                                    </div>
                                    <div class="retailer-row1">
                                        <span>{{offer.merchantName}}</span>
                                        <div class="strike-line">
                                           Deal Price: <span ng-class="offer.dealPrice != null ? 'strikeline':'strike-unline'">{{offer.msrp | currency}}</span><em
                                                 ng-if="offer.dealPrice != null">{{offer.dealPrice | currency}}</em>
                                        </div>
                                    </div>
                                    <div class="retailer-row2">
                                        <a href="javascript:;"><img src="img/phase-2/cart-icon.png"><span>GET THE DEAL</span></a>
                                    </div>
                                </div>
                            </article>
                        </div>-->
                        <div ng-repeat="offer in offers" class="col-50 floatL">
                            <article>
                                <div class="padding20 col">
                                    <a href="#/app/tab/productviewdetails/{{offer.itemId}}">
                                        <div class="imgdisplay text-center">
                                            <img alt="display-img-s1-image"
                                                 style="height:auto;max-height: 150px;max-width: 80%;"
                                                 ng-src="{{offer.itemImage}}">
                                        </div>
                                        <div class="productname">
                                            <h3 class="">{{offer.itemName}}</h3>
                                        </div>
                                    </a>

                                    <div class="product-deals">
                                        <label class="floatL">{{offer.offers.length}} <span>Offers</span> </label>
                                        <label class="floatR"></label>

                                        <div class="clearfix"></div>
                                        <a href="javascript:;" ng-click="showConfirm(offer)">Get the deal</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                </div>
            </div>
            <!--profile-content-wrap ends-->
        </section>


    </ion-content>
</ion-view>
