<ion-view title="Stores">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div class="trend-street-menu clearfix" ng-include src="'templates/trend_sheet_menu.html'"></div>
            <div class="styles-wrap">


                <div class="styles" ng-repeat="brewerStore in brewerStores">
                    <a class="productview" href="#/app/tab/storebrews/{{ brewerStore.id }}"></a>
                    <div class="style-col1 style-col">
                        <div class="style-col1-image">
                            <img ng-src="{{brewerStore.imageUrl}}">
                        </div>
                    </div>
                    <div class="style-col2 style-col">
                        <div class="styles-arrow">
                            <img src="img/phase-2/style-arrow.png">
                        </div>
                    </div>
                    <div class="style-col3 style-col">
                        <h1 class="font20 ">{{ brewerStore.name }}</h1>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>{{ brewerStore.numProducts}}</label>
                                <span>Products</span>
                            </li>
                            <li>
                                <label>{{ brewerStore.numOffers }}</label>
                                <span>Offers</span>
                            </li>
                        </ul>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>{{ brewerStore.numBrews }}</label>
                                <span>Brews</span>
                            </li>
                            <li>
                                <label>{{ brewerStore.numClicks }}</label>
                                <span>Views</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--styles-->
               <!-- <div class="styles">
                    <a class="productview" href="#/app/tab/storebrews/{{ brewId }}"></a>
                    <div class="style-col1 style-col">
                        <div class="style-col1-image">
                            <img src="img/phase-2/style1.jpg">
                        </div>
                    </div>
                    <div class="style-col2 style-col">
                        <div class="styles-arrow">
                            <img src="img/phase-2/style-arrow.png">
                        </div>
                    </div>
                    <div class="style-col3 style-col">
                        <h1 class="font20 ">Q'S STYLES</h1>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>82</label>
                                <span>Products</span>
                            </li>
                            <li>
                                <label>83</label>
                                <span>Offers</span>
                            </li>
                        </ul>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>139</label>
                                <span>Brews</span>
                            </li>
                            <li>
                                <label>247</label>
                                <span>Views</span>
                            </li>
                        </ul>
                    </div>
                </div>-->
                <!--styles-->
                <!--<div class="styles">
                    <a class="productview" href="#/app/tab/storebrews/{{ brewId }}"></a>

                    <div class="style-col1 style-col">
                        <div class="style-col1-image">
                            <img src="img/phase-2/style2.jpg">
                        </div>
                    </div>
                    <div class="style-col2 style-col">
                        <div class="styles-arrow">
                            <img src="img/phase-2/style-arrow.png">
                        </div>
                    </div>
                    <div class="style-col3 style-col">
                        <h1 class="font20 ">Q'S STYLES</h1>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>82</label>
                                <span>Products</span>
                            </li>
                            <li>
                                <label>83</label>
                                <span>Offers</span>
                            </li>
                        </ul>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>139</label>
                                <span>Brews</span>
                            </li>
                            <li>
                                <label>247</label>
                                <span>Views</span>
                            </li>
                        </ul>
                    </div>
                </div>-->
                <!--styles-->
            </div>
        </section>
    </ion-content>
</ion-view>
