<ion-view title="My Trend Street">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product">
            <div class="product-detail1">
                <div class="topbrewer-head clearfix">
                    <div class="brewer-left floatL">
                        <div class="top-brewer-profile">
                            <img  ng-if="profile.imageURL" ng-src="{{profile.imageURL}}?width=125">
                            <img  ng-hide="profile.imageURL" ng-src="img/followers/avatar.png">
                        </div>
                        <a href="javascript:;">Me</a>
                    </div>
                    <div class="brewer-right">
                        <div class="brewer-name clearfix">
                            <h1 class="font20 floatL">{{profile.fullName}}</h1>
                            <div class="poduct-info-wrap floatR">
                                <ul>
                                    <li class="info3"><a href="#/app/tab/about"></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="desc-text">{{profile.description}}</p>
                    </div>
                </div>
                <ul class="trend-street-nav text-center">
                    <li><a href="#/app/tab/brewfeed/{{consumerId}}"><img src="img/phase-2/trend-store-icon9.png"><span>feeds</span></a></li>
                    <li><a href="#/app/tab/store/{{consumerId}}"><img src="img/phase-2/trend-store-icon1.png"><em>{{profile.numManufacturerTrends}}</em><span>stores</span></a></li>
                    <li><a href="#/app/tab/brewpoints/{{consumerId}}"><img src="img/phase-2/trend-store-icon5.png"><em>{{profile.pointsBalance}}</em><span>points</span></a></li>
                    <li><a href="#/app/tab/brews/{{consumerId}}"><img src="img/phase-2/trend-store-icon2.png"><em>{{profile.numBrews}}</em><span>brews</span></a></li>
                    <li><a href="#/app/tab/mywishes/{{consumerId}}"><img src="img/phase-2/trend-store-icon3.png"><em>{{profile.numWishes}}</em><span>wishes</span></a></li>
                    <li><a href="#/app/tab/myoffers/{{consumerId}}"><img src="img/phase-2/trend-store-icon4.png"><em>{{profile.numDeals}}</em><span>offers</span></a></li>
                    <li><a href="#/app/tab/followers/{{consumerId}}"><img src="img/phase-2/trend-store-icon8.png"><em>{{profile.numFollowers}}</em><span>followers</span></a></li>
                    <li><a href="#/app/tab/blogs/{{consumerId}}"><img src="img/phase-2/trend-store-icon7.png"><em>{{profile.numBlogTrends}}</em><span>blogs</span></a></li>
                    <li><a href="#/app/tab/videos/{{consumerId}}"><img src="img/phase-2/trend-store-icon6.png"><em>{{profile.numVideoTrends}}</em><span>videos</span></a></li>
                </ul>
            </div>
        </section>
        <!--product detail wrap-->
    </ion-content>
</ion-view>



