<ion-view title="My Wishes">
    <ion-content>
        <section class="product-detail-wrap top-brewers-product profile-wrap">
            <div data-ng-controller="productSortCtrl">
                <div class="filtered-list" ng-show="showFilters">
                    <div class="filter-overlay"></div>
                    <ul class="filter-menu">
                        <li>
                            <a href="#/app/tab/mywishes/{{brewId}}" ng-click="clear()"><span>All Brews</span></a>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(1)">
                                <a href="javascript:;" ng-click="getCategories()" class="clearfix">
                                    <span class="floatL">Category</span>
                                    <i class="floatR icon" ng-class="isGroupShown(1) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(1)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <div class="loaderBg-filter" ng-show="!categories.length"></div>
                                            <li>
                                                <a href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}">All</a>
                                            </li>
                                            <li ng-repeat="item in categories | filter:query">
                                                <a ng-click="addMySelection(item)" ng-class="{active: item.id=='{{cid}}'}" class="clearfix" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}">
                                                    <em class="floatR">{{item.itemCount}}</em> {{item.name}}</a></li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(2)">
                                <a href="javascript:;" ng-click="getRetailers()" class="clearfix">
                                    <span class="floatL">Retailers</span>
                                    <i class="floatR icon" ng-class="isGroupShown(2) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(2)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <div class="loaderBg-filter" ng-show="!retailers.length"></div>
                                            <li ng-repeat="item in retailers | filter:query">
                                                <a ng-click="addMySelection(item)" ng-class="{active: item.id=='{{rid}}'}" class="clearfix" href="#app/tab/mywishes/{{brewId}}?rid={{item.id}}&bid={{bid}}&pid={{pid}}&cid={{cid}}"><em class="floatR">{{item.itemCount}}</em>
                                                    {{item.name}}</a></li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(3)">
                                <a href="javascript:;" ng-click="getBrands()" class="clearfix">
                                    <span class="floatL">Brands</span>
                                    <i class="floatR icon" ng-class="isGroupShown(3) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(3)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <div class="loaderBg-filter" ng-show="!brands.length"></div>
                                            <li ng-repeat="item in brands | filter:query">
                                                <a ng-click="addMySelection(item)" ng-class="{active: item.id=='{{bid}}'}" class="clearfix" href="#app/tab/mywishes/{{brewId}}?bid={{item.id}}&rid={{rid}}&pid={{pid}}&cid={{cid}}"><em class="floatR">{{item.itemCount}}</em>
                                                    {{item.name}}</a></li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(4)">
                                <a href="javascript:;" class="clearfix">
                                    <span class="floatL">Style</span>
                                    <i class="floatR icon" ng-class="isGroupShown(4) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(4)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <li class="img-list" ng-repeat="style in styles | filter:query">
                                                <a ng-click="addMySelection(style)" ng-class="{active: style.id=='{{pid}}'}" href="#/app/tab/mywishes/{{brewId}}?pid={{style.id}}"><img ng-src="img/phase-2/{{style.icon}}">{{style.name}}</a>
                                            </li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                    </ul>
                    <div class="selection-wrap">
                        <div class="selection clearfix">
                            <h1 class="floatL font20">My Selection</h1>
                            <a class="floatR" href="#/app/tab/mywishes/{{brewId}}" ng-click="clear()">Clear All</a>
                        </div>
                        <ul class="selection-list">
                            <li class="clearfix" ng-repeat="item in mySelectionItem">
                                <p class="font-16 floatL">{{item.name}}</p>
                                <a href="javascript:;" ng-click="remove(item)" class="floatL">X</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="filtered-list sorted-list" ng-show="showSort">
                    <div class="filter-overlay"></div>
                    <ul class="filter-menu">
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='A_TO_Z'}" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=A_TO_Z" class="clearfix">
                                    <span class="floatL">A-Z </span>
                                </a>
                            </ion-item>

                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='Z_TO_A'}" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=Z_TO_A" class="clearfix">
                                    <span class="floatL">Z-A </span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='NEWEST_FIRST'}" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=NEWEST_FIRST" class="clearfix">
                                    <span class="floatL">Newest First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='CHEAPEST_FIRST'}" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=CHEAPEST_FIRST" class="clearfix">
                                    <span class="floatL">Cheapest First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='EXPENSIVE_FIRST'}" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=EXPENSIVE_FIRST" class="clearfix">
                                    <span class="floatL">Expensive First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='TRENDING_FIRST'}" href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=TRENDING_FIRST" class="clearfix">
                                    <span class="floatL">Trending First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a href="#app/tab/mywishes/{{brewId}}?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=" class="clearfix">
                                    <span class="floatL">Clear</span>
                                </a>
                            </ion-item>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix filter-cmn row">
                <div class="col padding0" ng-click="showFilters = !showFilters;showSort=false">
                    <a href="javascript:;" class="filter-image floatL">
                        <span>Filter</span>
                        <i><img src="img/phase-2/arrow.png" alt="arrow-image"/></i>
                    </a>
                </div>
                <div class="col padding0" ng-click="showSort = !showSort;showFilters=false">
                    <a href="javascript:;" class="filter-image sort-image floatR">
                        <span>Sort</span>
                        <i><img src="img/phase-2/arrow.png" alt="arrow-image"/></i>
                    </a>
                </div>
            </div>


            <div class="profile-content-wrap">
                <div class="selected-items padding20">
                    <div class="selected-list clearfix" ng-repeat="item in mySelectionItem">
                        <p class="floatL">{{item.name}}</p>
                        <a class="floatR ion-android-close" href="javascript:;" ng-click="remove(item)"></a>
                    </div>
                </div>
                <ul class="all-items-list all-items-list-store all-items-store">
                    <li ng-repeat="item in wishes">
                        <article>
                            <div class="product-name">
                                <h1 class="font26-normal bg-color-font">{{item.name}}</h1>
                            </div>
                            <a class="item-link" href="#/app/tab/productviewdetails/{{item.id}}"></a>

                            <div class="img-display">
                                <img alt="display-img-s1-image" ng-src="{{item.image}}">
                            </div>
                            <div class="product-name-bottom">
                                <h2 class="font20">I wish to pay ${{item.myPrice}}</h2>
                            </div>
                        </article>
                    </li>
                </ul>
                <ion-infinite-scroll
                        icon="none"
                        ng-if="noMoreItemsAvailable"
                        on-infinite="loadMore()"
                        distance="1%">
                </ion-infinite-scroll>
            </div>
            <!--profile-content-wrap ends-->
        </section>
    </ion-content>
</ion-view>
