<ion-view title="Product Blogs">
    <ion-content>
        <ion-spinner icon="spiral"></ion-spinner>
        <div class="top-blog-wrap top-blog-inter topvideos-alt" >
            <div class="padding">
                <a class="orange-button" href="javascript:;" ng-click="addvideo=true">Add Blog</a>
                <form class="form-wrapper" ng-show="addvideo">
                    <h1>Add a Blog Post here or Click on related Product in Top Trends or
                        your Trend Store and Add Blog in the Product Detail Page</h1>
                    <input type="text" placeholder="Blog Title" ng-model="blogData.title">
                    <input type="text" placeholder="Add Blog URL" ng-model="blogData.url">
                    <input type="button" value="Add" class="add-btn" ng-click="addBlog(blogData);">
                    <input type="button" value="Cancel" class="add-btn cancel-btn" ng-click="addvideo=false">
                </form>
            </div>
            <ul>
                <li class="clearfix padding blog-align" ng-repeat="blog in productBlogs" ng-click="GotoLink('{{blog.source}}')">
                    <div class="floatL clearfix vid-content">
                        <div class="floatL vid-content-details">
                            <h1 class="font20 text-format">{{blog.name}}</h1>
                            <p>Linked to  <em>{{ blog.items.length }}</em> Products</p>
                            <div class="clearfix vid-content-brew floatR">
                                <div class="floatL vid-content-img">
                                    <img ng-if="blog.brewerImageURL" ng-src="{{blog.brewerImageURL}}">
                                    <img ng-hide="blog.brewerImageURL" ng-src="img/followers/avatar.png">
                                </div>
                                <div class="floatL vid-content-view">
                                    <!--<h1 class="font20">PRIYANKA</h1>-->
                                    <div class="vid-brews clearfix ">
                                        <div class="vid-brew-details">
                                            <img src="img/phase-2/view-icon.png">
                                            <em>{{ blog.numClicks }}</em>
                                        </div>
                                        <div class="vid-brew-details">
                                            <img src="img/phase-2/brew-icon.png">
                                            <em>{{ blog.numBrews }}</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="floatR vid-img">
                        <div class="floatL">
                            <img ng-if="blog.image" ng-src="{{blog.image}}">
                            <img ng-hide="blog.image" ng-src="img/default-blog.png">
                        </div>
                        <div class="vid-content-menu floatR">
                            <a href="javascript:;"><img src="img/phase-2/youtube-menu.png" alt="youtube-menu"></a>
                        </div>
                    </div>
                    <a href="#/app/tab/blogdetail" ng-click="blogDetails(blog)" class="detail-link"></a>
                </li>

            </ul>
        </div>
        <!--top blog wrap-->
    </ion-content>
</ion-view>
