<div class="modal product-popup">
        <header class="text-right">
            <div class="button button-clear btn-styles" ng-click="modal.hide()"><span class="ion-android-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <div class="product-info">
                <div class="product-img">
                    <img alt="display-img-s1-image"
                         style="height:auto;max-height: 120px;max-width: 80%;"
                         ng-src="{{offerItem.itemImage}}">
                </div>
                <div class="product-txt">
                    <h3>{{offerItem.itemName}}</h3>
                    <div class="product-deals">
                        <label>{{offerItem.offers.length}} <span>Offers</span> </label>
                        <label>$ 38</label>
                    </div>
                    <a href="javascript:;">Disclaimer</a>
                </div>
                <ul class="padding20">
                    <li class="padding clearfix product-dealer" ng-repeat="item in offerItem.offers">
                        <div class="floatL">
                            <h4>{{item.merchantName}}</h4>
                            <p><span ng-class="item.dealPrice != null ? 'strikeline':'strike-unline'">{{item.msrp | currency}}</span><em
                                    ng-if="item.dealPrice != null">{{item.dealPrice | currency}}</em></p>
                        </div>
                        <div class="floatR">
                            <label>Buy from</label>
                            <label><a href="javascript:;" class="orange-txt">Trendbrew</a> </label>
                            <label><a href="javascript:;" class="green-txt">Retailer</a></label>
                            <div class="points-list">Points:<label>100</label></div>
                        </div>
                    </li>

                </ul>
            </div>
        </content>
    </div>