<!-- products-details-->
<div ng-show="productbgLoader" class="loaderBg productbg"></div>
<ion-view title="Product Details">
    <ion-content>
        <section class="product-detail-wrap product-detail-wrap-over">
            <div class="product-head-wrap">
                <div class="product-new-add">
                    <ul class="text-center clearfix">
                        <li class="pro-head1" ng-click="socialComment =! socialComment ; proHead=false">
                            <a href="javascript:;">
                                <img alt="product-head1" src="img/phase-2/product-head1.png"/>
                            </a>
                        </li>
                        <li class="pro-head5">
                            <a href="#/app/tab/productvideos/{{productDetails.item.id}}">
                                <img alt="product-head5" src="img/phase-2/product-head5.png"/>
                            </a>
                        </li>
                        <li class="pro-head3">
                            <a href="#/app/tab/trendbrewersdetails/{{productDetails.item.brewOwner.consumerId}}">
                                <img  ng-if="productDetails.item.brewOwner.imageURL" ng-src="{{productDetails.item.brewOwner.imageURL}}">
                                <img  ng-hide="productDetails.item.brewOwner.imageURL" ng-src="img/followers/avatar.png">
                            </a>
                        </li>
                        <li class="pro-head4" >
                            <a href="#/app/tab/productblogs/{{productDetails.item.id}}">
                                <img alt="product-head4" src="img/phase-2/product-head4.png"/>
                            </a>
                        </li>
                        <li class="pro-head2" ng-click="proHead =! proHead; socialComment=false">
                            <div href="javascript:;" >
                                <img alt="product-head2" src="img/phase-2/product-head2.png">

                                <div class="share-icons text-center clearfix" ng-show="proHead">
                                    <a href="javascript:;" ng-click="email()">
                                        <em class="ion-at"></em>
                                    </a>
                                    <a href="javascript:;" ng-click="twitter()">
                                        <em class="ion-social-twitter"></em>
                                    </a>
                                    <a href="javascript:;" ng-click="facebook()">
                                        <em class="ion-social-facebook"></em>
                                    </a>
                                    <a href="javascript:;" ng-click="googleplus()" >
                                        <em class="ion-social-googleplus"></em>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="flo-head flo-head-over clearfix text-center">
                    <h1 class="font26-normal bg-color-font">{{productDetails.item.name}}</h1>
                    <div class="social-comments-content floatL social-comments-list">
                        <ul class="social-comments" ng-show="socialComment" >
                            <li>
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.score}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">Trendscore</span>
                                </div>
                            </li>
                            <li>
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.numBrews}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">Brews</span>
                                </div>
                            </li>
                            <li>
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.numBrewers}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">Brewers</span>
                                </div>
                            </li>
                            <li>
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.numBrewWishes}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">wishes</span>
                                </div>
                            </li>
                            <li>
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.numClicks}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">views</span>
                                </div>
                            </li>
                            <li>
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.numBrewBuzzes}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">Buzzes</span>
                                </div>
                            </li>
                            <li class="social-last">
                                <div class="social-icon">
                                    <h1 class="font26-normal">{{productDetails.item.numBrewLikes}}</h1>
                                </div>
                                <div class="social-text">
                                    <span class="font10">Brewlikes</span>
                                </div>
                            </li>
                            <li class="close-arrow">
                                <i>X</i>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!--product-head-wrap-->
            <div class="product-detail1">
                <div class="social-comments-wrap clearfix">
                    <div class="social-comments-content floatL">
                         <div class="rating-wrap">
                            <div class="ratting-circle">
                                <a class="star-rating" href="javascript:;">
                                    <input type="radio" name="rating" value="1" ng-click="showConfirmRating(1)"><i></i>
                                    <input type="radio" name="rating" value="2" ng-click="showConfirmRating(2)"><i></i>
                                    <input type="radio" name="rating" value="3" ng-click="showConfirmRating(3)"><i></i>
                                    <input type="radio" name="rating" value="4" ng-click="showConfirmRating(4)"><i></i>
                                    <input type="radio" name="rating" value="5" ng-click="showConfirmRating(5)"><i></i>
                                </a>
                                <span class="font26">{{productDetails.reviews.length}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                    <div class="social-image">
                        <img alt="{{productDetails.item.image}}" ng-src="{{productDetails.item.image}}">
                    </div>
                    </div>
                    <div class="poduct-info-wrap">
                        <ul>
                            <li class="info3"><a href="javascript:;"><span class="font26">Product Information</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="brew-bar clearfix">
                <div class="brew-left floatL">
                    <!--<img src="img/phase-2/brew-cup.png" alt="brew-cup" />-->
                    <h1 class="font32">Brew</h1>
                </div>
                <ul class="brew-right floatL">
                    <li><a href="javascript:;" ng-click="showConfirmtrend()" class="btnstyle font26"><i><img
                            src="img/phase-2/brew-trend-icon.png"> </i> Trend</a></li>
                    <li><a href="javascript:;" ng-click="showConfirmwish()" class="btnstyle font26"><i><img
                            src="img/phase-2/brew-wish-icon.png"> </i> Wish</a></li>
                    <li><a href="javascript:;" ng-click="showConfirm()" class="btnstyle font26"><i><img
                            src="img/phase-2/brew-buzz-icon.png"> </i> Buzz</a></li>
                    <li><a href="javascript:;" ng-click="showConfirmlike()" class="btnstyle font26"><i><img
                            src="img/phase-2/brew-link-icon.png"> </i> Like</a></li>
                </ul>
            </div>
            <!--brew-bar-->
            <div class="product-detail4 product-detail-cmn" id="section1" ng-if="productDetails.offers.length > 0">
                <ion-item class="item-stable" ng-click="toggleGroup(1)">
                    <div class="acc-cmn clearfix">
                        <h1 class="font20 floatL"><i class="img-circle green-circle"><img
                                src="img/phase-2/retailer-icon.png"> </i><span>Shop Offers</span></h1>

                        <div class="floatR clearfix">
                            <a class="font26 product-head floatL"
                               href="javascript:;">{{productDetails.offers.length}}</a>
                            <a href="javascript:;" class="floatL arrow-styles icon"
                               ng-class="isGroupShown(1) ? 'ion-chevron-down' : 'ion-chevron-right'"></a>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(1)">
                    <div class="tab-content-wrap">
                        <ul class="styled-list text-center">
                            <a href="javascript:;" ng-click="previousSlide3()"
                               class="ion-chevron-left arrow-cmn"></a>
                            <ion-slide-box show-pager="false" does-continue="true" delegate-handle="burgers3">
                                <ion-slide ng-repeat="offer in productDetails.offers" ng-if="$index % 4 == 0">
                                    <li ng-repeat="offer in productDetails.offers.slice($index,$index+4)">
                                        <div class="review-wrap">
                                            <div class="innertab-content-wrap">
                                                <div class="innertab-content" id="tabs1">
                                                    <div class="retailer-wrap">
                                                        <div class="retailer-row1">
                                                            <span>{{offer.merchantName}}</span>

                                                            <div class="strike-line"><span
                                                                    ng-class="offer.dealPrice != null ? 'strikeline':'strike-unline'">{{offer.msrp | currency}}</span><em
                                                                    ng-if="offer.dealPrice != null">{{offer.dealPrice | currency}}</em>
                                                            </div>
                                                            <p class="retail-date">{{offer.dealStartDate | date:'MMM d,y' | limitTo:10 }}</p>
                                                        </div>
                                                        <div class="retailer-row2">
                                                            <a href="javascript:;" ng-click="showbuy(offer)"><img src="img/phase-2/cart-icon.png"><span>Buy Now</span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ion-slide>
                            </ion-slide-box>
                            <a href="javascript:;" ng-click="nextSlide3()" class="ion-chevron-right arrow-cmn"></a>
                        </ul>
                    </div>
                </ion-item>
            </div>
            <div class="product-detail8 product-detail-cmn" id="section8" ng-if="productDetails.cardLinkedOffers.length > 0">
                <ion-item class="item-stable" ng-click="toggleGroup(2)">
                    <div class="acc-cmn clearfix">
                        <h1 class="font20 floatL"><i class="img-circle blue-circle"><img
                                src="img/phase-2/link-offers-icon.png"> </i> <span>Card Linked Offers</span></h1>

                        <div class="floatR clearfix">
                            <a class="font26 product-head floatL" href="javascript:;">0</a>
                            <a href="javascript:;" class="floatL arrow-styles icon"
                               ng-class="isGroupShown(2) ? 'ion-chevron-down' : 'ion-chevron-right'"></a>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(2)">
                    <div class="review-wrap">
                        <div class="innertab-content-wrap">
                            <div class="innertab-content" id="tabs2">
                                <h1 class="font-16">Currently no card linked offers</h1>
                            </div>
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="product-detail9 product-detail-cmn" id="section9">
                <ion-item class="item-stable" ng-click="toggleGroup(9)" >
                    <div class="acc-cmn clearfix">
                        <h1 class="font20 floatL"><i class="img-circle light-green-circle"><img
                                src="img/phase-2/social-buzz-icon.png"> </i> <span>Social Buzz</span></h1>

                        <div class="floatR clearfix">
                            <a class="font26 product-head floatL padding0" href="javascript:;">
                                <ul class="socialbuzz-list socialbuzz-list-head">
                                    <li>
                                        <span>{{productDetails.item.numLikes}}</span>

                                        <p>likes</p>
                                    </li>
                                    <li>
                                        <span>{{productDetails.item.numTweets}}</span>

                                        <p>tweets</p>
                                    </li>
                                    <li>
                                        <span>{{productDetails.item.numPins}}</span>

                                        <p>pins</p>
                                    </li>
                                    <li>
                                        <span>{{productDetails.item.numShares}}</span>

                                        <p>shares</p>
                                    </li>
                                </ul>
                            </a>
                            <a href="javascript:;" class="floatL arrow-styles icon" ng-class="isGroupShown(9) ? 'ion-chevron-down' : 'ion-chevron-right'"></a>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(9)">
                    <div class="tab-content-wrap">
                        <!--<input type="text" placeholder="Buzz" class="input">-->
                        <div class="socialbuzz">
                            <div class="brew-summary-wrap" ng-click="showConfirm()">
                                <div class="brew-trend">
                                    <a href="javascript:;" class="font26">brew</a>
                                    <img alt="social-buzz-trend-icon-image"
                                         ng-src="img/phase-2/social-buzz-trend-icon.png">
                                    <a href="javascript:;" class="font26">Buzz</a>
                                </div>
                            </div>
                            <h1 class="comments-head">Comments</h1>
                            <ul class="comments-wrap">
                                <li class="clearfix" ng-repeat="comment in productDetails.socialBuzz"
                                    ng-if="comment.comment != null">
                                    <p class="floatL">{{comment.comment}}</p>

                                    <div class="floatR clearfix">
                                        <label class="floatL">{{comment.commentor}}</label>
                                        <span class="floatL"><img src="img/phase-2/comments-cup.png"></span>
                                        <em class="ion-social-facebook floatL"></em>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </ion-item>
            </div>
            <div class="product-detail3 product-detail-cmn" id="section3"  ng-if="productDetails.styles.length > 0">
                <ion-item class="item-stable" ng-click="toggleGroup(4)">
                    <div class="acc-cmn clearfix">
                        <h1 class="font20 floatL"><i class="img-circle red-circle"><img
                                src="img/phase-2/style-by-icon.png"> </i> <span>Styled by</span></h1>

                        <div class="floatR clearfix">
                            <a class="font26 product-head floatL" href="javascript:;">{{productDetails.styles.length}}</a>
                            <a href="javascript:;" class="floatL arrow-styles icon"
                               ng-class="isGroupShown(4) ? 'ion-chevron-down' : 'ion-chevron-right'"></a>
                        </div>
                    </div>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(4)">
                    <div class="tab-content-wrap">
                        <ul class="styled-list text-center">
                            <a href="javascript:;" ng-click="previousSlide1()"
                               class="ion-chevron-left arrow-cmn"></a>
                            <ion-slide-box show-pager="false" does-continue="true" delegate-handle="burgers1">
                                <ion-slide ng-repeat="style in productDetails.styles" ng-if="$index % 4 == 0">
                                    <li ng-repeat="style in productDetails.styles.slice($index,$index+4)">
                                        <div class="styled-image">
                                            <img ng-src="http://trendbrew.com{{style.image}}" alt="styled-image1-image">
                                        </div>
                                        <p class="font-16">{{style.name}}</p>
                                    </li>
                                </ion-slide>
                            </ion-slide-box>
                            <a href="javascript:;" ng-click="nextSlide1()" class="ion-chevron-right arrow-cmn"></a>
                        </ul>
                    </div>
                </ion-item>
            </div>
            <div class="product-detail6 product-detail-cmn" id="section5" ng-if="productDetails.suggestedProducts.length > 0">
                <ion-item class="item-stable">
                    <!--ng-click="toggleGroup(6)"-->
                    <div class="acc-cmn clearfix">
                        <h1 class="font20 floatL">Recommended Products</h1>
                    </div>
                </ion-item>
                <ion-item class="item-accordion">
                    <!--ng-show="isGroupShown(6)"-->
                    <div class="tab-content-wrap">
                        <ul class="recom-products-wrap text-center">
                            <a href="javascript:;" ng-click="previousSlide2()"
                               class="ion-chevron-left arrow-cmn"></a>
                            <ion-slide-box show-pager="false" does-continue="true" delegate-handle="burgers2">
                                <ion-slide ng-repeat="rProducts in productDetails.suggestedProducts"
                                           ng-if="$index % 2 == 0">
                                    <li ng-repeat="rProducts in productDetails.suggestedProducts.slice($index,$index+2)">
                                        <div class="Re-prod">
                                            <div class="prod-img">
                                               <a href="#/app/tab/productviewdetails/{{ rProducts.id }}">
                                                   <img ng-src="{{rProducts.image}}" alt="recomended-products1-image">
                                               </a>
                                            </div>
                                            <div class="rec-prod-details">
                                                <p>{{rProducts.numDeals}}</p>
                                                <span>offer</span>
                                            </div>
                                        </div>
                                    </li>
                                </ion-slide>
                            </ion-slide-box>
                            <a href="javascript:;" ng-click="nextSlide2()" class="ion-chevron-right arrow-cmn"></a>
                        </ul>
                    </div>
                </ion-item>
            </div>
        </section>
    </ion-content>
</ion-view>
