<ion-view title="Recently Added Blogs">
    <ion-content>
        <ion-spinner icon="spiral"></ion-spinner>
        <div class="top-blog-wrap top-blog-inter topvideos-alt">
           <div class="tab-menu clearfix">
                <ul>
                    <li><a href="#/app/tab/topblogs">Top Blogs</a></li>
                    <li class="active-tab"><a href="javascript:;">Recently Added</a></li>
                    <li  ng-if="consumerId != ''"><a href="#/app/tab/myblogs/{{consumerId}}">My Blogs</a></li>
                    <li  ng-if="consumerId == ''"><a href="#/app/tab/signin">My Blogs</a></li>
                </ul>
            </div>

            <ul>
                <li class="clearfix padding blog-align" ng-repeat="blog in tobBlogs" ng-click="GotoLink('{{blog.source}}')">
                    <div class="floatL clearfix vid-content">
                        <div class="floatL vid-content-details">
                            <h1 class="font20 text-format">{{blog.name}}</h1>
                            <p ng-if="blog.items.length>0">Linked to  <em>{{blog.items.length}}</em> Products</p>
                            <div class="clearfix vid-content-brew floatR">
                                <div class="floatL vid-content-img" >
                                    <img ng-if="blog.brewerImageURL" ng-src="{{blog.brewerImageURL}}">
                                    <img ng-hide="blog.brewerImageURL" ng-src="img/followers/avatar.png">
                                </div>
                                <div class="floatL vid-content-view">
                                    <h1 class="font20">{{blog.brewerName}}</h1>
                                    <div class="vid-brews clearfix ">
                                        <div class="vid-brew-details">
                                            <img src="img/phase-2/view-icon.png">
                                            <em>{{blog.numClicks}}</em>
                                        </div>
                                        <div class="vid-brew-details">
                                            <img src="img/phase-2/brew-icon.png">
                                            <em>{{blog.numBrews}}</em>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="floatR vid-img">
                        <div class="floatL">
                            <img ng-if="blog.image" ng-src="{{blog.image}}">
                            <img ng-hide="blog.image" ng-src="img/default-blog.png">
                        </div>
                        <div class="vid-content-menu floatR">
                            <a href="javascript:;"><img src="img/phase-2/youtube-menu.png" alt="youtube-menu"></a>
                        </div>
                    </div>
                    <a href="#/app/tab/blogdetail" ng-click="blogDetails(blog)" class="detail-link"></a>
                </li>

            </ul>
            <ion-infinite-scroll
                    icon="ion-looping"
                    ng-if="noMoreItemsAvailable"
                    on-infinite="loadMore()"
                    distance="1%"
                    >
            </ion-infinite-scroll>
        </div>
        <!--top blog wrap-->
    </ion-content>
</ion-view>
