<ion-view title="Sign In">
    <ion-content class="has-header bar-orange bottom0">
        <div class="logo">
            <a href=""><img src="img/logo.png"/></a>
        </div>
        <form name="signinForm" novalidate class="" >
            <div class="login-block" >
                <p class="error_message"><span>{{error_messge}}</span></p>
                <div class="list list-inset">
                    <label class="item item-input"
                           ng-class="{ 'has-errors' : signinForm.email.$invalid && submitted, 'no-errors' : signinForm.email.$valid  && submitted}">
                        <i class="icon ion-email placeholder-icon"></i>
                        <input type="email" placeholder="Email" ng-model="user.email" name="email" required>
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input"
                           ng-class="{ 'has-errors' : signinForm.password.$invalid && submitted, 'no-errors' : signinForm.password.$valid  && submitted}">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" placeholder="Password" ng-model="user.password" name="password" required>
                    </label>
                </div>
                <div class="login-btns btn-change text-center">
                    <button  class="button button-small icon-left button-balanced right" ng-click="signin(signinForm,user)" ><span>Sign In </span></button>
                    <button  ng-click="ShowSignup()" class="button button-small icon-left button-assertive">New User</button>
                </div>
            </div>
        </form>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon skip-text" ui-sref="app.tabs.toptrends">SKIP</a>
        </ion-nav-buttons>
    </ion-content>
</ion-view>