<ion-view title="Signup">
    <ion-content class="has-header bar-orange bottom0">
        <div class="logo">
            <a href=""><img src="img/logo.png"/></a>
        </div>
        <form name="signupForm" novalidate class="" ng-submit="signup(signupForm,user)" >
            <div class="login-block" >
                <p class="error_message"><span>{{error_messge}}</span></p>

                <div  class="list list-inset">
                    <label class="item item-input" ng-class="{ 'has-errors' : signupForm.fname.$invalid && submitted, 'no-errors' : signupForm.fname.$valid  && submitted}">
                        <i class="icon ion-person placeholder-icon"></i>
                        <input type="text" placeholder="First name" ng-model="user.fname" name="fname" required>
                    </label>
                </div>
                <div  class="list list-inset">
                    <label class="item item-input" ng-class="{ 'has-errors' : signupForm.lname.$invalid && submitted, 'no-errors' : signupForm.lname.$valid  && submitted}">
                        <i class="icon ion-person placeholder-icon"></i>
                        <input type="text" placeholder="Last name" ng-model="user.lname" name="lname" required>
                    </label>
                </div>
                <div  class="list list-inset sign-select">
                    <label class="item item-input">
                        <i class="icon ion-person-stalker placeholder-icon"></i>
                        <select ng-model="user.gender" name="gender" required>
                            <option ng-value="male">Male</option>
                            <option ng-value="female">Female</option>
                        </select>
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input"
                           ng-class="{ 'has-errors' : signupForm.email.$invalid && submitted, 'no-errors' : signupForm.email.$valid  && submitted}">
                        <i class="icon ion-email placeholder-icon"></i>
                        <input type="text" placeholder="Email" ng-model="user.email" name="email" required>
                    </label>
                </div>
                <div class="list list-inset">
                    <label class="item item-input" ng-class="{ 'has-errors' : signupForm.password.$invalid && submitted, 'no-errors' : signupForm.password.$valid  && submitted}">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" placeholder="Password" ng-model="user.password" name="password" required>
                    </label>
                </div>
                <div class="login-btns">
                    <button  class="button button-small icon-left button-positive"
                            ><span>Sign up </span></button>
                    <button ng-click="ShowSignin()"
                            class="button button-small icon-left button-positive right"><span>Cancel </span></button>
                </div>
            </div>
        </form>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon skip-text" ui-sref="app.tabs.toptrends">SKIP</a>
        </ion-nav-buttons>
    </ion-content>
</ion-view>