<ion-view title="Top Brewers Details">
    <ion-content>
        <div class="topbrewers-details-wrap">
            <div class="topbrewer-head clearfix">
                <div class="brewer-left floatL">
                    <div class="top-brewer-profile">
                        <img src="img/phase-2/top-brewer-profile.jpg" alt="top-brewer-profile">
                    </div>
                    <a href="javascript:;">Follow</a>
                </div>
                <div class="brewer-right">
                    <div class="brewer-name clearfix">
                        <h1 class="font20 floatL">Quintan Johnson</h1>

                        <div class="poduct-info-wrap floatR">
                            <ul>
                                <li class="info3"><a href="javascript:;"><span class="font26">Product info</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p class="desc-text">description comes here description comes here description comes heredescription
                        comes here description comes heredescription </p>
                    <ul class="clearfix brewers-list brewers-list-in">
                        <li class="brewer-active">
                            <a href="#/app/tab/trendbrewersdetails">
                                <h1 class="font20">20</h1>
                                <span>Stores</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h1 class="font20">22</h1>
                                <span>Followers</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h1 class="font20">10</h1>
                                <span>Following</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h1 class="font20">0</h1>
                                <span>Videos</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <h1 class="font20">0</h1>
                                <span>Blogs</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="clearfix brewers-list brewers-list-out">
                <li class="brewer-active">
                    <a href="javascript:;">
                        <h1 class="font20">20</h1>
                        <span>Stores</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h1 class="font20">22</h1>
                        <span>Followers</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h1 class="font20">10</h1>
                        <span>Following</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h1 class="font20">0</h1>
                        <span>Videos</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <h1 class="font20">0</h1>
                        <span>Blogs</span>
                    </a>
                </li>
            </ul>
            <div class="top-brewers-wrap">

                <a href="javascript:;" ng-click="previousSlide4()" class="ion-chevron-left arrow-cmn"></a>
                <a href="javascript:;" ng-click="nextSlide4()" class="ion-chevron-right arrow-cmn"></a>

                <div class="styles-list" ng-show="slideIndex==1">
                    <div class="top-brewers-head">
                        <div class="brewer-name text-center">
                            <h1 class="font20">Q'S STYLES</h1>
                        </div>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>82</label>
                                <span>Products</span>
                            </li>
                            <li>
                                <label>83</label>
                                <span>Offers</span>
                            </li>
                            <li>
                                <label>23</label>
                                <span>Brews</span>
                            </li>
                            <li>
                                <label>254</label>
                                <span>Views</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="all-items-list all-items-list-brewers">
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style1-image" src="img/phase-2/style1.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style2-image" src="img/phase-2/style2.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style3-image" src="img/phase-2/style3.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style4-image" src="img/phase-2/style4.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style5-image" src="img/phase-2/style5.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style6-image" src="img/phase-2/style6.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <div class="styles-list" ng-show="slideIndex==2">
                    <div class="top-brewers-head">
                        <div class="brewer-name text-center">
                            <h1 class="font20">Q'S STYLES</h1>
                        </div>
                        <ul class="clearfix brewer-list1 text-center">
                            <li>
                                <label>20</label>
                                <span>Products</span>
                            </li>
                            <li>
                                <label>83</label>
                                <span>Offers</span>
                            </li>
                            <li>
                                <label>23</label>
                                <span>Brews</span>
                            </li>
                            <li>
                                <label>254</label>
                                <span>Views</span>
                            </li>
                        </ul>
                    </div>
                    <ul class="all-items-list all-items-list-brewers">
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style1-image" src="img/phase-2/style6.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style2-image" src="img/phase-2/style5.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style3-image" src="img/phase-2/style4.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style4-image" src="img/phase-2/style3.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style5-image" src="img/phase-2/style2.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a class="item-link" href="#/app/tab/productviewdetails"></a>

                                <div class="img-display">
                                    <img alt="style6-image" src="img/phase-2/style1.jpg">
                                </div>
                                <div class="offer-details clearfix">
                                    <div class="offer circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">offers</span>
                                    </div>
                                    <div class="points circle-details">
                                        <h1 class="font26">04</h1>
                                        <span class="font10">points</span>
                                    </div>
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>

            </div>
            <!--top-brewers-wrap-->
        </div>
        <!--topbrewers-details-wrap-->
    </ion-content>
</ion-view>
