<ion-view title="Top Brewers">
    <ion-content>
        <!--<div style="position: relative">
               <a href="#/app/tab/trendbrewersdetails" class="dummy-item-link">
                   <img src="img/phase-2/dummyimg7.jpg" style="width: 100%;">
               </a>
           </div>-->
        <div class="top-blog-wrap trendbrewers-wrap">
            <div class="blog" ng-repeat="topbrewer in topbrewers">
                <a class="blog-link" href="#/app/tab/trendbrewersdetails/{{topbrewer.consumerId}}"></a>

                <div class="blog-image">
                    <img ng-if="topbrewer.imageURL" ng-src="{{topbrewer.imageURL}}?width=125">
                    <img ng-hide="topbrewer.imageURL" ng-src="img/followers/avatar.png">
                </div>
                <div class="blog-head">
                    <div class="group-overlay clearfix">
                        <div class="floatL Go-text font16">{{topbrewer.storeName}}</div>
                        <ul class="floatR Go-share">
                            <li><img src="img/phase-2/top-brewers-cup.png"><span>{{topbrewer.numTrends}}</span></li>
                            <li><img src="img/phase-2/top-brewers-blog.png"><span>{{topbrewer.numBlogTrends}}</span></li>
                            <li><img src="img/phase-2/top-brewers-share.png"><span>{{topbrewer.numFollowers}}</span></li>
                        </ul>
                    </div>

                </div>
            </div>
            <!--<div class="blog">-->
                <!--<a href="#/app/tab/trendbrewersdetails/29" class="blog-link"></a>-->

                <!--<div class="blog-image">-->
                    <!--<img src="img/phase-2/top-brewers2.jpg" alt="top-brewers2"/>-->
                <!--</div>-->
                <!--<div class="blog-head">-->
                    <!--<div class="group-overlay clearfix">-->
                        <!--<div class="floatL Go-text">Quintan</div>-->
                        <!--<ul class="floatR Go-share">-->
                            <!--<li><img src="img/phase-2/top-brewers-cup.png"><span>100</span></li>-->
                            <!--<li><img src="img/phase-2/top-brewers-share.png"><span>1</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="blog">-->
                <!--<a href="#/app/tab/trendbrewersdetails/29" class="blog-link"></a>-->

                <!--<div class="blog-image">-->
                    <!--<img src="img/phase-2/top-brewers3.jpg" alt="top-brewers3"/>-->
                <!--</div>-->
                <!--<div class="blog-head">-->
                    <!--<div class="group-overlay clearfix">-->
                        <!--<div class="floatL Go-text">Glenda</div>-->
                        <!--<ul class="floatR Go-share">-->
                            <!--<li><img src="img/phase-2/top-brewers-cup.png"><span>100</span></li>-->
                            <!--<li><img src="img/phase-2/top-brewers-share.png"><span>1</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="blog">-->
                <!--<a href="#/app/tab/trendbrewersdetails/29" class="blog-link"></a>-->

                <!--<div class="blog-image">-->
                    <!--<img src="img/phase-2/top-brewers4.jpg" alt="top-brewers4"/>-->
                <!--</div>-->
                <!--<div class="blog-head">-->
                    <!--<div class="group-overlay clearfix">-->
                        <!--<div class="floatL Go-text">Quintan</div>-->
                        <!--<ul class="floatR Go-share">-->
                            <!--<li><img src="img/phase-2/top-brewers-cup.png"><span>100</span></li>-->
                            <!--<li><img src="img/phase-2/top-brewers-share.png"><span>1</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="blog">-->
                <!--<a href="#/app/tab/trendbrewersdetails/29" class="blog-link"></a>-->

                <!--<div class="blog-image">-->
                    <!--<img src="img/phase-2/top-brewers5.jpg" alt="top-brewers5"/>-->
                <!--</div>-->
                <!--<div class="blog-head">-->
                    <!--<div class="group-overlay clearfix">-->
                        <!--<div class="floatL Go-text">Glenda</div>-->
                        <!--<ul class="floatR Go-share">-->
                            <!--<li><img src="img/phase-2/top-brewers-cup.png"><span>100</span></li>-->
                            <!--<li><img src="img/phase-2/top-brewers-share.png"><span>1</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="blog">-->
                <!--<a href="#/app/tab/trendbrewersdetails/29" class="blog-link"></a>-->

                <!--<div class="blog-image">-->
                    <!--<img src="img/phase-2/top-brewers6.jpg" alt="top-brewers6"/>-->
                <!--</div>-->
                <!--<div class="blog-head">-->
                    <!--<div class="group-overlay clearfix">-->
                        <!--<div class="floatL Go-text">Quintan</div>-->
                        <!--<ul class="floatR Go-share">-->
                            <!--<li><img src="img/phase-2/top-brewers-cup.png"><span>100</span></li>-->
                            <!--<li><img src="img/phase-2/top-brewers-share.png"><span>1</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>
