<ion-view title="Top Trends">
    <ion-content has-header="true" scroll="false" ng-class="{'bar-subheader-slide-away': slideHeader}">


        <ion-header-bar class="bar-subheader">
            <div data-ng-controller="productSortCtrl">
                <div class="filter-section-container">
                    <div class="filter-section-wrap clearfix">
                        <div class="profile-head-title clearfix row">
                            <div class="col padding0" ng-click="showFilters = !showFilters;showSort=false">
                                <a href="javascript:;" class="filter-image floatL">
                                    <span>Filter</span>
                                    <i><img src="img/phase-2/arrow.png" alt="arrow-image"/></i>
                                </a>
                            </div>
                            <div class="col padding0" ng-click="showSort = !showSort;showFilters=false">
                                <a href="javascript:;" class="filter-image sort-image floatR">
                                    <span>Sort</span>
                                    <i><img src="img/phase-2/arrow.png" alt="arrow-image"/></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="selected-items padding5">
                        <div class="selected-list clearfix" ng-repeat="item in mySelectionItem">
                            <p class="floatL">{{item.name}}</p>
                            <a class="floatR ion-android-close" href="javascript:;" ng-click="remove(item)"></a>
                        </div>
                    </div>
                </div>
                <div class="filtered-list" ng-show="showFilters">
                    <div class="filter-overlay"></div>
                    <ul class="filter-menu">
                        <li>
                            <a href="#/app/tab/toptrends" ng-click="clear()"><span>All Brews</span></a>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(1)">
                                <a href="javascript:;" ng-click="getCategories()" class="clearfix">
                                    <span class="floatL">Category</span>
                                    <i class="floatR icon" ng-class="isGroupShown(1) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(1)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <div class="loaderBg-filter" ng-show="!categories.length"></div>
                                            <li>
                                                <a href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}">All</a>
                                            </li>
                                            <li ng-repeat="item in categories | filter:query">
                                                <a ng-click="addMySelection(item)" ng-class="{active: item.id=='{{cid}}'}" class="clearfix" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}">
                                                    <em class="floatR">{{item.itemCount}}</em> {{item.name}}</a></li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(2)">
                                <a href="javascript:;" ng-click="getRetailers()" class="clearfix">
                                    <span class="floatL">Retailers</span>
                                    <i class="floatR icon" ng-class="isGroupShown(2) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(2)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <div class="loaderBg-filter" ng-show="!retailers.length"></div>
                                            <li ng-repeat="item in retailers | filter:query">
                                                <a ng-click="addMySelection(item)" ng-class="{active: item.id=='{{rid}}'}" class="clearfix" href="#app/tab/toptrends?rid={{item.id}}&bid={{bid}}&pid={{pid}}&cid={{cid}}"><em class="floatR">{{item.itemCount}}</em>
                                                    {{item.name}}</a></li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(3)">
                                <a href="javascript:;" ng-click="getBrands()" class="clearfix">
                                    <span class="floatL">Brands</span>
                                    <i class="floatR icon" ng-class="isGroupShown(3) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(3)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <div class="loaderBg-filter" ng-show="!brands.length"></div>
                                            <li ng-repeat="item in brands | filter:query">
                                                <a ng-click="addMySelection(item)" ng-class="{active: item.id=='{{bid}}'}" class="clearfix" href="#app/tab/toptrends?bid={{item.id}}&rid={{rid}}&pid={{pid}}&cid={{cid}}"><em class="floatR">{{item.itemCount}}</em>
                                                    {{item.name}}</a></li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable" ng-click="toggleGroup(4)">
                                <a href="javascript:;" class="clearfix">
                                    <span class="floatL">Style</span>
                                    <i class="floatR icon" ng-class="isGroupShown(4) ? 'ion-minus-round' : 'ion-plus-round'"></i>
                                </a>
                            </ion-item>
                            <ion-item class="item-accordion" ng-show="isGroupShown(4)">
                                <div class="search-box">
                                    <ion-scroll zooming="true" direction="y" style="height: 450px" class="filter-submenu">
                                        <div class="search-input">
                                            <input type="text" class="search-input-box" ng-model="query">
                                            <input type="button" class="search-btn">
                                        </div>
                                        <ul>
                                            <li class="img-list" ng-repeat="style in styles | filter:query">
                                                <a ng-click="addMySelection(style)" ng-class="{active: style.id=='{{pid}}'}" href="#/app/tab/toptrends?pid={{style.id}}"><img ng-src="img/phase-2/{{style.icon}}">{{style.name}}</a>
                                            </li>
                                        </ul>
                                    </ion-scroll>
                                </div>
                            </ion-item>
                        </li>
                    </ul>
                    <div class="selection-wrap">
                        <div class="selection clearfix">
                            <h1 class="floatL font20">My Selection</h1>
                            <a class="floatR" href="#/app/tab/toptrends" ng-click="clear()">Clear All</a>
                        </div>
                        <ul class="selection-list">
                            <li class="clearfix" ng-repeat="item in mySelectionItem">
                                <p class="font-16 floatL">{{item.name}}</p>
                                <a href="javascript:;" ng-click="remove(item)" class="floatL">X</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="filtered-list sorted-list" ng-show="showSort">
                    <div class="filter-overlay"></div>
                    <ul class="filter-menu">
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='A_TO_Z'}" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=A_TO_Z" class="clearfix">
                                    <span class="floatL">A-Z </span>
                                </a>
                            </ion-item>

                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='Z_TO_A'}" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=Z_TO_A" class="clearfix">
                                    <span class="floatL">Z-A </span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='NEWEST_FIRST'}" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=NEWEST_FIRST" class="clearfix">
                                    <span class="floatL">Newest First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='CHEAPEST_FIRST'}" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=CHEAPEST_FIRST" class="clearfix">
                                    <span class="floatL">Cheapest First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='EXPENSIVE_FIRST'}" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=EXPENSIVE_FIRST" class="clearfix">
                                    <span class="floatL">Expensive First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a ng-class="{active: sortType=='TRENDING_FIRST'}" href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=TRENDING_FIRST" class="clearfix">
                                    <span class="floatL">Trending First</span>
                                </a>
                            </ion-item>
                        </li>
                        <li>
                            <ion-item class="item-stable">
                                <a href="#app/tab/toptrends?cid={{item.id}}&pid={{pid}}&rid={{rid}}&bid={{bid}}&sortType=" class="clearfix">
                                    <span class="floatL">Clear</span>
                                </a>
                            </ion-item>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-header-bar>
        <ion-scroll direction="y" delegate-handle="itemScroll" style="height:100%" scroll-watch >
            <section class="all-items">
                <ul class="all-items-list marginT50">
                    <li ng-repeat="item in toptrendsList">
                        <article>
                            <a href="#/app/tab/productviewdetails/{{item.id}}" class="item-link"></a>

                            <div class="img-display">
                                <img ng-src="{{item.image}}" alt="display-img-s1-image">
                            </div>
                            <div class="offer-details clearfix">
                                <div class="offer circle-details">
                                    <span class="font10">offers</span>

                                    <h1 class="font26">{{item.numDeals}}</h1>
                                </div>
                                <div class="points circle-details">
                                    <span class="font10">points</span>

                                    <h1 class="font26">{{item.maxRewards}}</h1>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <ion-infinite-scroll
                        icon="ion-looping"
                        ng-if="noMoreItemsAvailable"
                        on-infinite="loadMore()"
                        distance="1%">
                </ion-infinite-scroll>
            </section>
        </ion-scroll>

            <a class="scroll-top" ng-show="sttButton" ng-click="scrollToTop()" href="javascript:;"> <i class="ion-chevron-up"> </i></a>

        <!--all items-->
    </ion-content>

</ion-view>