<ion-view title="Top Videos">
    <ion-content>
        <div class="topvideos-alt topvideos-alt-new">

            <div class="tab-menu clearfix">
                <ul>
                    <li class="active-tab"><a href="javascript:;">Top Videos</a></li>
                    <li><a href="#/app/tab/recentlyadded?sortType=NEWEST_FIRST">Recently Added</a></li>
                    <li  ng-if="consumerId != ''"><a href="#/app/tab/myvideos/{{consumerId}}">My Videos</a></li>
                    <li  ng-if="consumerId == ''"><a href="#/app/tab/signin">My Videos</a></li>
                </ul>
            </div>

            <ul>
                <li class="clearfix padding" ng-repeat="video in topVideos" >
                    <div class="floatL vid-img">
                        <div>
                            <div youtube-video="video.source"></div>
                        </div>
                    </div>
                    <div class="floatR clearfix vid-content">
                        <div class="floatL vid-content-details">
                            <h1 class="font20 text-format">{{video.name}}</h1>
                            <p ng-if="video.items.length>0">Linked to  <em>{{ video.items.length }}</em> Products</p>

                            <div class="clearfix vid-content-brew floatR">
                                <div class="floatL vid-content-view">
                                    <h1 class="font20">{{video.brewerName}}</h1>
                                    <div class="vid-brews clearfix ">
                                        <div class="vid-brew-details">
                                            <img src="img/phase-2/view-icon.png">
                                            <em>{{video.numClicks}}</em>
                                        </div>
                                        <div class="vid-brew-details">
                                            <img src="img/phase-2/brew-icon.png">
                                            <em>{{video.numBrews}}</em>
                                        </div>
                                    </div>
                                </div>
                                <div class="floatR vid-content-img">
                                    <img ng-if="video.brewerImageURL" ng-src="{{video.brewerImageURL}}">
                                    <img ng-hide="video.brewerImageURL" ng-src="img/followers/avatar.png">
                                </div>
                            </div>
                        </div>
                        <div class="vid-content-menu floatR">
                            <a href="javascript:;"><img src="img/phase-2/youtube-menu.png" alt="youtube-menu"></a>
                        </div>
                    </div>
                    <a href="#/app/tab/videodetail/{{video.id}}" class="detail-link"></a>
                </li>

            </ul>
            <ion-infinite-scroll
                    icon="ion-looping"
                    ng-if="noMoreItemsAvailable"
                    on-infinite="loadMore()"
                    distance="1%" ng-class="topVideos.length > 0 ? '':'first_load'">
            </ion-infinite-scroll>
        </div>
    </ion-content>
</ion-view>