<ion-view title="{{ brewDetails.fullName }}">
    <ion-content>
        <div class="topbrewers-details-wrap">
            <div class="product-detail1">
                <div class="topbrewer-head clearfix">
                    <div class="brewer-left floatL">
                        <div class="top-brewer-profile">
                            <img  ng-if="brewDetails.imageURL" ng-src="{{brewDetails.imageURL}}?width=125">
                            <img  ng-hide="brewDetails.imageURL" ng-src="img/followers/avatar.png">
                        </div>
                        <a ng-if="brewDetails.isFollower && brewDetails.consumerId!=consumerId" href="javascript:;" ng-click="unFollow(brewDetails.consumerId)" >Unfollow</a>
                        <a ng-if="!brewDetails.isFollower && brewDetails.consumerId!=consumerId && consumerId != '' " href="javascript:;" ng-click="follow(brewDetails.consumerId)" >Follow</a>
                        <a  ng-if="brewDetails.consumerId==consumerId" href="javascript:;">Me</a>
                    </div>
                    <div class="brewer-right">
                        <div class="brewer-name clearfix">
                            <h1 class="font20">{{brewDetails.fullName}}</h1>
                        </div>
                        <p class="desc-text">{{brewDetails.description}}</p>
                    </div>
                </div>
                <ul class="trend-street-nav text-center">
                    <li>
                        <a href="#/app/tab/store/{{brewerId}}"><img src="img/phase-2/trend-store-icon1.png"><em class="ng-binding">0</em><span>stores</span></a>
                    </li>
                    <li><a href="#/app/tab/followers/{{brewerId}}"><img src="img/phase-2/trend-store-icon8.png"><em class="ng-binding">{{brewDetails.numFollowers}}</em><span>followers</span></a>
                    </li>
                    <li><a href="#/app/tab/following/{{brewerId}}"><img src="img/phase-2/following-new.png"><em class="ng-binding">{{brewDetails.numFollowed}}</em><span>Following</span></a></li>
                    <li><a href="#/app/tab/blogs/{{brewerId}}"><img src="img/phase-2/trend-store-icon7.png"><em class="ng-binding">{{brewDetails.numBlogTrends}}</em><span>blogs</span></a></li>
                    <li><a href="#/app/tab/videos/{{brewerId}}"><img src="img/phase-2/trend-store-icon6.png"><em class="ng-binding">{{brewDetails.numVideoTrends}}</em><span>videos</span></a></li>
                    <li><a href="#/app/tab/brewersProfile/{{brewerId}}"><img src="img/phase-2/following.png"><span>Profile</span></a></li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>
