<a class="trend-menu floatR " href="javascript:;" ng-click="isMenuOpen = !isMenuOpen"><img src="img/phase-2/menu-icon.png"></a>
<ul class="trend-menu-list text-center" ng-show="isMenuOpen">
    <li class="trend-menu9" ng-if="consumerId == brewId" ui-sref-active="trend-active" ><a ui-sref="app.tabs.brewfeed({brewId: brewId})"><img src="img/phase-2/trend-store-icon9.png"></a></li>
    <li class="trend-menu1" ui-sref-active="trend-active" ><a ui-sref="app.tabs.store({brewId: brewId})" ><img src="img/phase-2/trend-store-icon1.png"></a></li>
    <li class="trend-menu5" ng-if="consumerId == brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.brewpoints({brewId: brewId})" ><img src="img/phase-2/trend-store-icon5.png"></a></li>
    <li class="trend-menu2" ng-if="consumerId == brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.brews({brewId: brewId})" ><img src="img/phase-2/trend-store-icon2.png"></a></li>
    <li class="trend-menu3" ng-if="consumerId == brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.mywishes({brewId: brewId})"  ><img src="img/phase-2/trend-store-icon3.png"></a></li>
    <li class="trend-menu4" ng-if="consumerId == brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.myoffers({brewId: brewId})" ><img src="img/phase-2/trend-store-icon4.png"></a></li>
    <li class="trend-menu8" ui-sref-active="trend-active"><a ui-sref="app.tabs.followers({brewId: brewId})" ><img src="img/phase-2/trend-store-icon8.png"></a></li>
    <li class="trend-menu8" ng-if="consumerId != brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.following({brewId: brewId})" ><img src="img/phase-2/following-new.png"></a></li>
    <li class="trend-menu7" ui-sref-active="trend-active"><a ui-sref="app.tabs.blogs({brewId: brewId})"  ><img src="img/phase-2/trend-store-icon7.png"></a></li>
    <li class="trend-menu6" ui-sref-active="trend-active"><a ui-sref="app.tabs.videos({brewId: brewId})"  ><img src="img/phase-2/trend-store-icon6.png"></a></li>
    <li class="trend-menu10" ng-if="consumerId == brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.about" ><img src="img/phase-2/following.png"></a></li>
    <li class="trend-menu10" ng-if="consumerId != brewId" ui-sref-active="trend-active"><a ui-sref="app.tabs.brewersProfile({brewId:brewId})" ><img src="img/phase-2/following.png"></a></li>
</ul>