<ion-view title="Video">
    <ion-content>
       <div class="video-container">
           <div class="video-wrap">
               <div youtube-video="videoDetail.source"></div>
                <!--<iframe width="100%" height="315" src="https://www.youtube.com/embed/wmDRTSHCXlw" frameborder="0" allowfullscreen></iframe>-->
           </div>
           <div class="video-content ">
               <div class="video-row clearfix">
                   <div class="column-68">
                        <h1>{{videoDetail.name}}</h1>
                       <label><img src="img/phase-2/brew-icon.png"> 1</label>
                       <label><img src="img/phase-2/view-icon.png"> {{videoDetail.numBrews}}</label>
                   </div>
                   <div class="column-30 text-right">
                        <a class="orange-button" href="javascript:;" ng-click="brewTrendAdd()" >Brew Trend</a>
                   </div>
               </div>
               <div class="video-row clearfix prof-avatar">
                   <div class="column-68">
                       <label class="prof-img">  <img ng-if="videoDetail.brewerImageURL" ng-src="{{videoDetail.brewerImageURL}}">
                           <img ng-hide="videoDetail.brewerImageURL" ng-src="img/followers/avatar.png"></label>
                       <label>{{videoDetail.brewerName}}</label>
                   </div>
                   <div class="column-30 text-right" ng-if="consumerId > 0"  ng-init="brewerDetails(videoDetail.brewerId)" >
                       <a class="default-button" ng-if="brewDetails.isFollower && videoDetail.brewerId!=consumerId" href="javascript:;" ng-click="unFollow(brewDetails.consumerId)" >Unfollow</a>
                       <a class="default-button" ng-if="!brewDetails.isFollower && videoDetail.brewerId!=consumerId" href="javascript:;" ng-click="follow(brewDetails.consumerId)" >Follow</a>
                       <a class="default-button" ng-if="videoDetail.brewerId==consumerId" href="javascript:;">Me</a>
                   </div>
               </div>
               <div class="video-row offer-list" ng-if="videoDetail.items.length>0">
                   <h2>Linked Products</h2>
                   <ul class="clearfix">
                       <li ng-repeat="item in videoDetail.items">
                           <div class="offer-img">
                               <a href="#/app/tab/productviewdetails/{{ item.id }}">
                                   <img ng-src="{{item.image}}"/>
                               </a>
                           </div>
                           <div class="offer-text">
                               <p><label>{{item.numDeals}}</label> Offer</p>
                           </div>

                       </li>


                   </ul>
               </div>

           </div>
       </div>
    </ion-content>
</ion-view>