<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>TrendBrew</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/idangerous.swiper.css" rel="stylesheet">
    <link href="css/custom-styles.css" rel="stylesheet">
    <script type="text/javascript" src="js/hello.js"></script>

    <script>
        hello.init({
            google: '232693120295-04p6jekflvmhtpto0m1c248lf408vb3s.apps.googleusercontent.com',//'656984324806-sr0q9vq78tlna4hvhlmcgp2bs2ut8uj8.apps.googleusercontent.com',
            facebook: '511501315676126',//'174398759295717',//'160981280706879',
            twitter: 'YMNLtO47ZAR4YGe1Jo0dAFowr',
            instagram: '04490fb75a354a5199142e64e1fec221' //cd23cb4bbf124ea585e129e46c622b8e

        }, {
            // redirect_uri: 'http://http://localhost:8100/oauthcallback.html',
            response_type: 'token'
        });
    </script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/"></script>
    <script src="js/jquery-1.10.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/ionic-image-lazy-load.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/openfb.js"></script>
    <script src="js/ngopenfb.js"></script>
    <script src="js/app.js"></script>
    <script src="js/jssor.js"></script>
    <script src="js/jssor.slider.js"></script>
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/ng-cordova.js"></script>
</head>
<body ng-app="starter">


<div ng-controller="AppCtrl">
    <ion-nav-view animation="slide-left-right" class="background-transp overflow-inner"></ion-nav-view>
</div>
<script id="menu.html" type="text/ng-template">
    <ion-side-menus class="overflow-visible">
        <ion-pane ion-side-menu-content class="overflow-visible" drag-content="dragable">
            <ion-nav-view name="contentLoader" ng-show="loader">
                <div ng-show="loader" class="loaderBg">
                    <!--<div id="floatingCirclesG">-->
                    <!--</div>-->
                </div>
            </ion-nav-view>
            <ion-nav-bar class="bar-stable nav-title-slide-ios7">
                <ion-nav-buttons side="right">
                    <p ng-show="searchlayoutFlag">
                        <a href="" class="searchBtn1" ng-click="showSearch()" ng-show='searchFlag'>
                            <img src="img/phase-2/Search-icon-1.png" alt="Search-icon-1">
                        </a>
                        <a href="" class="closeBtn icon ion-close-round" ng-click="showSearch()"
                           ng-hide='searchFlag'></a>
                    </p>
                </ion-nav-buttons>
                <ion-nav-back-button class="button-clear backBt">
                    <i ng-show="backbtn" class="icon-left ion-arrow-left-c"></i>
                </ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon" ng-show='menuToggle'>
                    <img src="img/phase-2/main-menu-icon.png" alt="main-menu-icon-image"></button>
            </ion-nav-buttons>
            <ion-nav-view name="searchContent">
                <div class="searchBox" style="display:none">
                    <input id="searchtext" type="text" placeholder="Search for products" ng-model="searchProduct">
                    <a href="#/app/tab/toptrends?q={{searchProduct}}" class="button searchBtn2">Search</a>
                </div>
            </ion-nav-view>


            <ion-nav-view name="menu-content">
            </ion-nav-view>
            <ion-footer-bar ng-show="footerVisible" class="hide-on-keyboard-open">
                <div class="btm-fixed-header">
                    <ul class="clearfix btm-list" ng-if="consumerId == ''">
                        <li class="btm-fixed1"><a href="#/app/tab/toptrends"><i></i></a></li>
                        <li class="btm-fixed2"><a ng-if="consumerId == ''" href="#/app/tab/mytrendstore"><i></i></a>
                        </li>
                        <li class="btm-fixed3"><a href="#/app/tab/topbrewers"><i></i></a></li>
                        <li class="btm-fixed4"><a ng-if="consumerId == ''" href="#/app/tab/brewfeed"><i></i></a></li>
                        <li class="btm-fixed5"><a href="#/app/tab/topblogs"><i></i></a></li>
                    </ul>
                    <ul class="clearfix btm-list" ng-if="consumerId != ''">
                        <li class="btm-fixed1"><a href="#/app/tab/toptrends"><i></i></a></li>
                        <li class="btm-fixed2"><a ng-if="consumerId != ''" href="#/app/tab/mytrendstore/{{consumerId}}"><i></i></a>
                        </li>
                        <li class="btm-fixed3"><a href="#/app/tab/topbrewers"><i></i></a></li>
                        <li class="btm-fixed4">
                            <a ng-if="consumerId != ''" href="#/app/tab/brewfeed/{{consumerId}}"><i></i></a></li>
                        <li class="btm-fixed5"><a href="#/app/tab/topblogs"><i></i></a></li>
                    </ul>
                </div>
                <!--btm-fixed-header-->
            </ion-footer-bar>
        </ion-pane>
        <ion-side-menu side="left" width="myWidthValue + 180" class="leftmenu">
            <header class="bar bar-header bar-stable">
            </header>
            <ion-content class="has-header">
                <ion-list>
                    <ion-item nav-clear menu-close class="leftMenu">
                        <ul class="left-menu">
                            <li ng-if="consumerId!='' && consumerId!=undefined" class="profile-icon clearfix">
                                <div class="profile-pic floatL">
                                    <img alt="profile-pic-image" ng-if="undefined != thumbnail" ng-src="{{thumbnail}}"/>
                                    <img alt="profile-pic-image" ng-if="undefined == thumbnail" ng-src="img/phase-2/profile-pic.png"/>
                                </div>
                                <div class="profile-desc floatL">
                                    <span class="font-16">Mail</span>

                                    <h1 class="font-16">{{fullName}}</h1>
                                </div>
                                <div class="clearfix"></div>
                                <div class="list-counter">
                                    <label title="Number of Offers"><img src="img/phase-2/cat-brand.png"> <span>{{profile.numDeals}}</span>
                                    </label>
                                    <label title="Number of Trends"><img src="img/phase-2/cat-all-brew.png"> <span>{{profile.numTrends}}</span>
                                    </label>
                                    <label title="My BrewPoints"><img src="img/phase-2/gift-icon.png"> <span>{{profile.pointsBalance}}</span>
                                    </label>
                                </div>
                            </li>
                            <li class="menu1"><a href="#/app/tab/toptrends" ng-click="watsbrew()"
                                                 class="trendBrew"><i></i> <em>Top Trends</em></a></li>
                            <li class="menu2"><a href="#/app/tab/topbrewers" class="salesandoffers"><i></i> <em>Top
                                Brewers</em></a>
                            </li>
                            <li class="menu3"><a href="#/app/tab/topvideos" class="toptrendbrewers"><i></i> <em>Top
                                Videos</em></a></li>
                            <li class="menu4"><a href="#/app/tab/topblogs" class="shoppingcatalog"><i></i> <em>Top
                                Blogs</em></a>
                            </li>
                            <li class="menu5" ng-if="consumerId!='' && consumerId!=undefined"><a
                                    href="#/app/tab/mytrendstore/{{consumerId}}" class="profile"><i></i> <em>My Trend
                                Street</em></a></li>
                            <li class="menu6"><a href="#/app/tab/shop" class="shop"><i></i> <em>Shop</em></a></li>
                            <li class="menu7" ng-if="consumerId!='' && consumerId!=undefined"><a href="#"
                                                                                                 ng-click="logout()"><i></i>
                                <em>Log Out</em></a></li>
                            <li class="menu7 log-in" ng-if="consumerId=='' || consumerId==undefined">
                                <a href="#/app/tab/login"><i></i>
                                    <em>Log In</em></a></li>
                        </ul>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</script>
<script id="tabs.html" type="text/ng-template">
    <ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
        <ion-tab title="Home" icon="ion-home" href="#/app/tab/toptrends">
            <ion-nav-view name="toptrends-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</script>

<script id="popupproductdetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content">
            <div class="clearfix close-wrap">
                <a href="javascript:;" class="floatR ion-android-close" ng-click="modal.hide()"></a>
            </div>
            <ul class="shipping-details">
                <li>
                    <label>Product Name : </label>

                    <p class="font26">SATRANG SAREE WITH BLOUSE PIECE</p>
                </li>
                <li>
                    <label>Sales price : </label>

                    <p class="font26">&dollar;329.8</p>
                </li>
                <li>
                    <label>Set a wish for this product : </label>
                </li>
                <li>
                    <p class="font26">BECOME THE TRENDSETTER OF THIS PRODUCT & EARN MONEY</p>
                </li>
            </ul>
            <div class="brew-summary-wrap popup-brew">
                <div class="brew-trend">
                    <a class="font26" href="javascript:;">brew</a>
                    <img src="img/phase-2/popup-brew-cup.png" alt="popup-brew-cup-image">
                    <a class="font26" href="javascript:;">trend</a>
                </div>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>
<script id="popupratingdetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">Review &amp; Rating</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="rating.hide()"></a>
            </div>
            <div class="rating-popup popup-content-wrap tab-content-wrap">
                <div ng-if="consumerId > 0">
                    <div class="rating-wrap rating-popover">
                        <div class="ratting-circle">
                            <a class="star-rating" href="javascript:;">
                                <input type="radio" name="rating" value="1" ng-click="showConfirmRating(1)"><i></i>
                                <input type="radio" name="rating" value="2" ng-click="showConfirmRating(2)"><i></i>
                                <input type="radio" name="rating" value="3" ng-click="showConfirmRating(3)"><i></i>
                                <input type="radio" name="rating" value="4" ng-click="showConfirmRating(4)"><i></i>
                                <input type="radio" name="rating" value="5" ng-click="showConfirmRating(5)"><i></i>
                            </a>
                        </div>
                    </div>

                    <input type="text" placeholder="Comment Here" class="input" ng-model="reviewData.review">

                    <div class="text-center">
                        <button class="button" ng-click="reviewPost(reviewData,productDetails.item.id)">Review Post
                        </button>
                    </div>
                </div>

                <h2 class="font26">{{productDetails.reviews.length}} Reviews</h2>

                <div class="review-content">
                    <p ng-repeat="review in productDetails.reviews">{{review.review}}</p>

                </div>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>
<script id="popuptrenddetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">TrendSet</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="trend.hide()"></a>
            </div>
            <div class="rating-popup popup-content-wrap">
                <p class="font20 normal-text"> Congrats on your Trend Set! We will notify you with any offer matching
                    your Trend.</p>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>
<script id="popupwishdetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">Wish</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="wish.hide()"></a>
            </div>
            <div class="price-wrap-content">
                <div class="price-wrap text-center">
                    <a class="price-btn" href="javascript:;">PRICE HISTORY</a>

                    <div class="price-declaration clearfix">
                        <span class="floatL">$</span>
                        <input type="text" ng-model="wishData.myPrice" placeholder="my price" class="inpt-price floatR">
                    </div>
                    <select ng-model="wishData.myDuration">
                        <option value="">my duration</option>
                        <option value="15">15 Days</option>
                        <option value="30">30 Days</option>
                        <option value="60">60 Days</option>
                        <option value="90">3 Months</option>
                        <option value="180">6 Months</option>
                    </select>
                </div>
                <!--price wrap-->
                <input type="text" ng-model="wishData.myComment" placeholder="note to self" class="input-cmn">

                <div class="brew-summary-wrap" ng-click="submitWish(wishData)">
                    <div class="brew-trend">
                        <a class="font26" href="javascript:;">brew</a>
                        <img src="img/phase-2/wish-now-trend.png" alt="wish-now-trend-image">
                        <a class="font26" href="javascript:;">trend</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>

<script id="bookmark-modal.html" type="text/ng-template">
    <div class="popup-wrap modal bookmark-modal">
        <div class="popup-content popup-content-alt">
            <div class="clearfix close-wrap popup-header">
                <h1 class="font32 floatL">Bookmark Product</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="modal.hide()"></a>
            </div>

            <div class="list-data">
                <ul class="list-info">
                    <li>
                        <span class="img-wrapper"><img src="img/phase-2/iphone.jpeg" alt="image"> </span>
                    </li>
                    <li>
                        <label>Apple iPhone 6 Plus (Space Grey, 16GB)</label>
                        <span>$ 286.00</span>
                    </li>

                </ul>
                <div class="brew-summary-wrap" ng-click="">
                    <div class="brew-trend">
                        <a class="font26" href="javascript:;">brew</a>
                        <img src="img/phase-2/bookmark-brew.png" alt="bookmark-brew-image">
                        <a class="font26" href="javascript:;">trend</a>
                    </div>
                </div>
            </div>

        </div>
    </div><!--popup-wrap-->
</script>

<script id="popuplikedetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">Like</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="like.hide()"></a>
            </div>
            <div class="rating-popup popup-content-wrap">
                <p class="font20 normal-text">Congrats on your wish! We will notify you with any offer matching your
                    wish. Please check "My wishes" and "My Offers" in your "TrendStore" for updates</p>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>
<script id="popupbuzzdetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt bg-color">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">Social Buzz</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="modal.hide()"></a>
            </div>
            <div class="tab-content-wrap popup-content-wrap">

                <input type="text" class="input" placeholder="Buzz" ng-model="buzz.myComment">

                <div class="socialbuzz">
                    <div class="post-wrap clearfix">
                        <span class="floatL">post to</span>

                        <div class="post-list floatR">
                            <label>
                                <input type="checkbox" name="facebook" class="input-checkbox" ng-model="buzz.postToFacebook">FACEBOOK
                            </label>
                            <label>
                                <input type="checkbox" name="twitter" class="input-checkbox" ng-model="buzz.postToTwitter">TWITTER
                            </label>
                        </div>
                    </div>
                    <div class="brew-summary-wrap" ng-click="submitBuzz(buzz)">
                        <div class="brew-trend">
                            <a class="font26" href="javascript:;">brew</a>
                            <img src="img/phase-2/social-buzz-trend-icon.png" alt="social-buzz-trend-icon-image">
                            <a class="font26" href="javascript:;">buzz</a>
                        </div>
                    </div>
                    <ul class="socialbuzz-list text-center">
                        <li><span>{{productDetails.item.numLikes}}</span>

                            <p>likes</p></li>
                        <li><span>{{productDetails.item.numTweets}}</span>

                            <p>tweets</p></li>
                        <li><span>{{productDetails.item.numPins}}</span>

                            <p>pins</p></li>
                        <li><span>{{productDetails.item.numShares}}</span>

                            <p>shares</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>
<script id="popupbuydetails.html" type="text/ng-template">
    <div class="popup-wrap modal">
        <div class="popup-content popup-content-alt bg-color">
            <div class="clearfix close-wrap">
                <h1 class="font32 floatL">CheckOut</h1>
                <a href="javascript:;" class="floatR ion-android-close" ng-click="buy.hide()"></a>
            </div>
            <div class="padding20 clearfix">
                <div class="buy-left floatL">
                    <div class="text-center">
                        <button class="buy-btn buy-btn-disable ion-android-cart"></button>
                    </div>
                    <p class="desc-text">Select this option and enjoy the luxury of buying without leaving this Page.
                        Let a trusted and verified TrendBrew Partner do all the work for you.</p>
                </div>
                <div class="buy-right floatR">
                    <div class="text-center">
                        <button class="buy-btn buy-btn-enable ion-android-cart" ng-click="externalUrl(itemSource,dealId)"></button>
                    </div>
                    <p class="desc-text">Select this option to buy from Retailer's website directly. Do not worry, you
                        will still earn your BrewPoints :)</p>
                </div>
            </div>
        </div>
    </div><!--popup-wrap-->
</script>

</body>
</html>
