@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 17px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #807b75;
    font-size: 13px;
    background: #fff;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #276b9e
}

a:focus {
    outline: none;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

input {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.sprite {
    background: url(../img/sprite@2x.png) 0px 0px no-repeat;
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    background-size: 50px 3000px;
}

/*.loaderBg{width:100%; height:100vh; background:rgba(0, 0, 0, 0.5); z-index:9999; position:fixed; text-align:center; top:0px; left:0px; display:table; vertical-align:middle; line-height:600px; }*/
.loaderBg, .loaderBg-filter {
    width: 100%;
    height: 100%;
    background: rgba(250, 250, 250, 1) url(../img/ajax-loader.gif) no-repeat center center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    text-align: center;
    z-index: 9990;
}

.detailIcon {
    width: 100%;
    height: 20px;
    background-position: 20px -438px;
}

.reviewIcon {
    width: 100%;
    height: 20px;
    background-position: 20px -489px;
}

.ratingIcon {
    width: 100%;
    height: 20px;
    background-position: 20px -599px;
}

.shareIcon {
    width: 100%;
    height: 20px;
    background-position: 20px -545px;
}

.footerMenu {
    height: 40px;
    background: #646464;
    border-top: 1px solid #bfbfbf;
    float: left;
}

.footerMenu .swiper-slide {
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #2a2a2a;
}

.footerMenu .swiper-slide a {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 10px;
    line-height: 19px;
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #2a2a2a;
    font-weight: 700;
}

.footerMenu .swiper-slide a.actvie {
    background: #9acd32;
}

.menu-left .scroll-content {
    background-color: #361109 !important;
    background-image: url("https://dl.dropboxusercontent.com/u/154646123/fifa-world-cup.png") !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
    background-size: 275px !important;
    top: 0;
    z-index: 99 !important;
}

.mainContainer {
    width: 100%;
    padding: 1.5% 1.5% 20px 1.5%;
    height: 100vh;
    margin-top: 40px;
    display: table;
    background: #fff;
    position: relative;
}

.mtop {
    margin-top: 0px !important;
}

/*.bar-orange{background:url(../img/login-bg.png) repeat; background-size:320px 700px;}*/
.bar-orange {
    background: #fff;
}

.logo {
    width: 90%;
    min-height: 100px;
    margin: 5% auto 0 !important;
    text-align: center;
    vertical-align: middle;
}

.logo img {
    margin: 30px 0px;
}

.socialBtns {
    width: 90%;
    padding: 2% 0px;
    margin: 0px auto;
}

.socialBtns .button {
    margin-bottom: 20px !important;
}

.button-blue {
    background: #45619d;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font: 15px/45px "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    height: 45px;
}

.button-lightblue {
    background: #55acee;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font: 15px/45px "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    height: 45px;
}

.button-blue span, .button-lightblue span {
    font: 15px "Trebuchet MS", Helvetica, sans-serif;
}

.button-blue:hover, .button-lightblue:hover {
    color: #fff;
}

.bar.nav-bar {
    background-color: transparent !important;
    background-size: auto auto !important;
    background-image: url("../img/phase-2/bg.jpg") !important;
    background-repeat: repeat-x !important;
    background-position: 0 0 !important;
    z-index: 9999 !important;
}

.bar-stable h1 {
    color: #fff !important;
    font: 15px/45px "Trebuchet MS", Helvetica, sans-serif;
}

.bar-stable button {
    color: #fff !important;
    font: 15px/45px "Trebuchet MS", Helvetica, sans-serif;
}

.facebookLogin {
    width: 90% !important;
    height: 44px;
    background: #45619d !important;
    display: block;
    border-radius: 0px;
    border: 1px solid #fff !important;
    color: #fff;
    margin: 8% auto;
    font: 16px/44px "Trebuchet MS", Helvetica, sans-serif;
    text-indent: 10px;
    vertical-align: middle;
    line-height: 44px;
}

.twitterLogin {
    width: 90% !important;
    height: 44px;
    background: #55acee !important;
    display: block;
    border-radius: 0px;
    border: 1px solid #fff;
    color: #fff;
    margin: 8% auto;
    font: 16px/44px "Trebuchet MS", Helvetica, sans-serif;
    text-indent: 10px;
    vertical-align: middle;
    line-height: 44px;
}

.googleplusLogin {
    width: 90% !important;
    height: 44px;
    display: block;
    border-radius: 0px;
    border: 1px solid #fff !important;
    color: #fff;
    margin: 8% auto;
    font: 16px/44px "Trebuchet MS", Helvetica, sans-serif;
    text-indent: 10px;
    vertical-align: middle;
    line-height: 44px;
}

.emailLogin {
    width: 90% !important;
    height: 44px;
    background: #35a509 !important;
    display: block;
    border-radius: 0px;
    border: 1px solid #c7f098 !important;
    color: #fff;
    margin: 8% auto;
    font: 16px/44px "Trebuchet MS", Helvetica, sans-serif;
    text-indent: 10px;
    vertical-align: middle;
    line-height: 44px;
}

.emailLogin:hover {
    color: #fff;
}

.menu-left, .leftmenu {
    height: 100vh;
    background: #361109 !important; /* Old browsers */
}

.menu-left .scroll-content {
    height: 100vh;
    background: #2f3332 !important; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJmMzMzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYxJSIgc3RvcC1jb2xvcj0iIzU3NWM1ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) !important;
    background: -moz-linear-gradient(left, #2f3332 0%, #575c5d 61%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2f3332), color-stop(61%, #575c5d)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2f3332 0%, #575c5d 61%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #2f3332 0%, #575c5d 61%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #2f3332 0%, #575c5d 61%) !important; /* IE10+ */
    background: linear-gradient(to right, #2f3332 0%, #575c5d 61%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f3332', endColorstr='#575c5d', GradientType=1) !important; /* IE6-8 */
}

.leftMenu .item-content, .leftMenu.item {
    border: 0px !important;
    padding: 0px;
    background: #361109 none repeat scroll 0 0;
}

.leftMenu ul li {
    list-style: none;
    width: 100%;
    clear: both;
}

.leftMenu ul li a {
    font: 12px "Trebuchet MS", Helvetica, sans-serif;
    color: #fff;
    height: 48px;
    display: block;
    line-height: 48px;
    text-decoration: none;
    font-weight: 700;
}

.leftMenu ul li a span {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
}

/*.leftMenu ul li a:hover, .leftMenu ul li a.active{background:#9acd33; text-decoration:none !important;}*/
.brewing {
    background-position: 0px -1181px;
}

.trends {
    background-position: 0px -1250px;
}

.network {
    background-position: 0px -1314px;
}

.sales {
    background-position: 0px -1512px;
}

.topbrewers {
    background-position: 0px -1379px;
}

.catalog {
    background-position: 0px -1448px;
}

.setting {
    background-position: 0px -1575px;
}

.user {
    background-position: -11px -1121px;
    background-color: #cccccc;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin: 10px 0px 0px 0px;
    display: block;
    position: relative;
}

.userThumb {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    float: left;
    margin-right: 10px;
    margin: 2px 5px 5px 0px;
    display: block;
}

.userBox {
    width: auto;
    height: 34px;
    background: #9acd33;
    display: block;
    padding: 5px 10px 5px 0px;
}

.userBox a {
    display: block;
    color: #fff;
    font: 12px/34px "Trebuchet MS", Helvetica, sans-serif;
}

.back {
    width: 35px;
    height: 35px;
    background-position: -3px -395px;
    float: left;
    margin-right: 5px;
}

.backBt {
    color: #fff !important;
}

/*---------------Product List----------*/

.productList {
    display: table;
}

.productList li {
    float: left;
    width: 47.5%; /*background:#e6e6e6;*/
    background: #fff;
    height: 195px;
    margin: 5px;
    list-style: none;
    padding: 0px;
}

.productList li .product {
    background: #fff;
    height: 195px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

.productList li .product:hover {
    box-shadow: 0 1px 10px #999;
}

.productList li .product .productImage {
    width: auto;
    height: 150px;
    text-align: center;
    overflow: hidden;
    line-height: 150px;
    z-index: 999;
}

.productList li .product .productImage img {
    margin: 5% auto;
    width: 100%;
    height: 130px;
    vertical-align: middle;
}

/*.productList li .product .productImage .count{position:absolute; width:23%; height:20%; border:1px solid #e6e6e6; right:0px; top:0px; font-size:12px; font-family:'robotomedium'; color:#df4444; text-indent:5px; text-align:left; margin:-1px -1px 0px 0px; background:#fff;}*/

.productList li .product .productImage .count {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
    font-size: 12px;
    font-family: 'robotomedium';
    color: #df4444;
    text-indent: 5px;
    margin: -1px -1px 0px 0px;
    background-size: 50px 3000px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #eee;
    overflow: hidden;
    background: #ddd;
}

.productList li .product .productImage .redCount {
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    bottom: 0px;
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #ff0000;
}

/*.productList li .product .productImage .count{position:relative; width:30px; height:30px; font-size:12px; font-family:'robotomedium'; color:#df4444; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; border:1px solid #eee; overflow:hidden; text-align:center;}*/
.productList li .product .productImage .count .part-fill {
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;
}

.offersList li, .offersList .product {
    height: auto !important;
    display: inline-table;
}

.offersList .product {
    width: 100% !important;
}

.offerPic {
    width: 90% !important;
    height: 100px !important;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 100px !important;
    z-index: 999;
    margin: 8px auto;
    border: 1px solid #eee;
}

.offerPic img {
    height: 100px !important;
}

hr {
    width: 90%;
    height: 1px;
    margin: 0px auto;
    color: #eee;
}

.avail {
    width: 90%;
    margin: 0px auto 8px auto;
    color: #f00;
    display: block;
    font-size: 10px;
}

.dealPrice {
    width: 90%;
    display: table;
    margin: 8px auto;
}

.dealPrice p {
    color: #333;
    font-size: 10px;
}

.dealPrice p span {
    float: right;
}

.deals {
    color: #528a10 !important;
}

.cartBtn {
    width: 80%;
    height: 25px;
    display: table;
    margin: 5px auto;
    background: #eee;
    border-radius: 3px;
    padding: 0px 5px;
    line-height: 30px;
    color: #333;
    border: 1px solid #ddd;
    cursor: pointer;
}

.cartBtn .sprite {
    width: 25px;
    height: 30px;
    background-position: -5px -196px;
    float: left;
}

.productList li .product .productImage .count .sprite {
    width: 30px;
    height: 30px;
    background-position: -27px -107px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

.productList li .product .productImage .count p {
    width: 100%;
    float: left;
    line-height: 29px;
    text-align: center;
    display: block;
    text-indent: 2px;
    position: relative;
    overflow: hidden;
}

.productList li .product .productImage .count:active {
    background-position: -20px -26px;
}

.productList li .product .productImage .count .num {
    color: #fff !important;
    text-shadow: 0px 0px 2px #000;
    width: 100%;
    float: left;
    line-height: 29px;
    text-align: center;
    display: block;
    text-indent: 0px;
    position: relative;
}

.productList li .product .productImage .count:active p {
    color: #eb4317;
    display: block;
    width: 30px;
    overflow: hidden;
}

/*.productList li .product .productImage .count:active .part-fill{background:#eb4317 !important;}*/
.productList li .product .productImage .count:active .sprite {
    display: none;
}

.productList li .product .productImage .count:active .num {
    color: #fff !important;
    text-shadow: 0px 0px 2px #000;
}

/*--------Progress----------*/

.productList li .product .productImage .count .circleBox {
    width: 30px;
    height: 30px;
    position: relative;
    display: table;
    border-radius: 50%;
    overflow: hidden;
    z-index: 999;
}

.btnBG {
    background: #fff;
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 20%;
    float: left;
    z-index: 9999;
}

.trend {
    width: 49.65%;
    height: 38px;
    background-color: #f3f3f3;
    background-position: 17px -150px;
}

.trend a, .cart a, .cart1 a {
    width: 100%;
    height: 38px;
    display: block;
    text-decoration: none;
}

.cart {
    width: 49.65%;
    height: 30%;
    height: 38px;
    background-color: #f3f3f3;
    background-position: 19px -192px;
    float: right;
}

.cart1 {
    width: 49.65%;
    height: 30%;
    height: 38px;
    background-color: #f3f3f3;
    background-position: 19px -192px;
    float: right;
}

.productList li .product .productTitle {
    padding: 5px;
    font: 10px "Trebuchet MS", Helvetica, sans-serif;
    line-height: 15px;
    color: #333333;
}

.productList li .product .productTitle a {
    color: #333333;
    text-decoration: none;
    height: 30px;
    margin-top: 5px;
    overflow: hidden;
    display: block;
}

.productList li .product .productImage .favorite {
    position: absolute;
    width: 23%;
    height: 20%;
    border: 1px solid #e6e6e6;
    left: 0px;
    top: 0px;
    font-size: 12px;
    font-family: 'robotomedium';
    color: #df4444;
    text-indent: 5px;
    text-align: left;
    margin: -1px 0px 0px -1px;
    background: #fff;
}

.productList li .product .productImage .favorite span {
    width: 30px;
    height: 30px;
    float: left;
    background-position: -7px -660px;
}

/*---------------Product List----------*/

.productbanner {
    /*background:url(../img/productBg.png) no-repeat; background-size:320px 243px; */
    height: 230px;
    margin-top: -5px;
    position: relative;
}

.productbanner img {
    width: 100%;
    height: 230px;
}

.scoreBox {
    min-height: 60px;
    position: absolute;
    bottom: 0px;
    width: 100%; /*padding:5px 0px;*/
}

.scoreBoxInline {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    border-bottom: 1px solid #444;
    overflow: hidden;
    height: 30px;
    padding: 0; /*margin-bottom:4px;*/
    display: table
}

.scoreBoxInline2 {
    background: rgba(128, 233, 123, 0.8);
    width: 100%; /*border-bottom:1px solid #444;*/
    overflow: hidden;
    height: 30px;
    padding: 0; /* margin-bottom:4px;*/
    display: table
}

.scoreBox p {
    font: 11px 'robotomedium';
    text-align: center;
    color: #9acd32;
    margin-bottom: 8px;
}

/*.scoreBox .score{width:auto; height:15px; /*border:1px solid #9acd32;*/
/*text-align:left; float:left; border-radius:3px; font:11px/15px 'robotomedium'; color:#fff; margin-right:0px; margin:0px; padding:0px 0px;}*/

.scoreBox .scoreBoxInline .score {
    padding: 0px 0px;
    width: 33.333%;
    float: left;
    box-sizing: border-box;
    display: table;
    line-height: 24px;
    font: 11px/15px 'robotomedium';
    color: #fff;
    margin: 0px;
}

.scoreBox .scoreBoxInline .score1 {
    text-align: left;
    padding: 7px 10px;
}

.scoreBox .scoreBoxInline .score2 {
    text-align: right;
    padding: 7px 6px 7px 15px;
}

.scoreBox .scoreBoxInline .score3 {
    text-align: right;
    padding: 7px 10px;
}

.scoreBox .scoreBoxInline2 .score {
    padding: 3px 0px;
    display: table;
    line-height: 24px;
    float: left;
    box-sizing: border-box;
    font: 11px/15px 'robotomedium';
    color: #fff;
    margin: 0px;
}

.scoreBox .scoreBoxInline2 .score1 {
    text-align: left;
    padding: 7px 20px 7px 41px;
    width: auto;
}

.scoreBox .scoreBoxInline2 .score2 {
    text-align: right;
    padding: 7px 41px 7px 20px;
    width: auto;
}

/* side menu */

.side-menu-container {
    width: auto;
    height: 128px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 42px;
    background: rgba(0, 0, 0, 0.8);
    padding: 0px 0px;
}

.productbanner .share-button-holder {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    top: 92px;
    background: url(../img/share.png) no-repeat;
    border: none;
    background-size: 25px 25px;
    opacity: .5
}

.productbanner .share-button-holder:hover {
    opacity: 1
}

.side-menu-container .social-icon-container {
    display: table;
    padding: 5px 5px;
    margin: 4px 0;
}

.side-menu-container .social-icon-container a {
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
    margin-right: 2px;
    background-size: 16px 16px !important;
    -moz-border-radius: 25px;
}

.side-menu-container .social-icon-container .visitor-count {
    color: #fff;
    float: left;
    font-size: 10px;
    padding: 0 5px;
}

.side-menu-container .social-icon-container .fb-icon {
    background: url(../img/fb.png) no-repeat;
    opacity: .5
}

.side-menu-container .social-icon-container .googlep-icon {
    background: url(../img/googlep.png) no-repeat;
    opacity: .5
}

.side-menu-container .social-icon-container .twitter-icon {
    background: url(../img/twitter.png) no-repeat;
    opacity: .5
}

.side-menu-container .social-icon-container .linked-icon {
    background: url(../img/linkdin.png) no-repeat;
    opacity: .5
}

.side-menu-container .social-icon-container a:hover {
    opacity: 1
}

/* side menu */

.purchaseBox {
    background: #e5e5e5;
    width: 100%;
    min-height: 24px;
    padding: 5px 15px;
    display: inline-block
}

.purchaseBox .priceValue {
    width: 50%;
    float: left;
    font: 14px/20px 'robotoregular';
    color: #000;
}

.purchaseBox .priceValue del {
    color: #797979;
}

.purchaseBox .priceValue span {
    color: #eb461d;
}

.purchaseBox .purchase {
    float: right;
    width: 40%;
    height: 30px;
    background: #9acd32;
    border: 1px solid #fff;
    color: #fff;
    font: 12px 'robotoregular';
    margin: 2% 0;
    line-height: 30px;
    text-align: center;
}

.half {
    width: 42.5% !important;
    float: left;
    margin: 3% 0% 5% 5% !important;
}


.half.mleft {
    margin-left: 4.8% !important;
}

.full {
    width: 90% !important;
    margin: 0px 5% !important;
    float: left;
    height: 40px !important;
}

.footerMenu {
    width: 100% !important;
    height: 44px;
    background: #646464;
    border-top: 1px solid #bfbfbf;
    position: relative;
    margin: 0px !important;
}

.footerMenu .tab-item {
    border-left: 1px solid #bfbfbf;
    border-right: 1px solid #2a2a2a;
    background: #646464 !important;
    text-align: center;
    color: #fff !important;
    font-size: 10px !important;
    line-height: 19px !important;
    width: 100%;
}

.prdt {
    width: 960px !important;
}

.prdt .swiper-slide {
    width: 158px !important;
    line-height: 50px !important;
    height: 50px !important;
    float: left;
    display: table;
}

.prdt .swiper-slide:last-child {
    border-right: 0px;
}

.prdt .swiper-slide .title a {
    line-height: 50px;
    display: block;
}

.detailIcon {
    width: 100%;
    height: 25px;
    background-position: 55% -438px;
    float: none;
}

.reviewIcon {
    width: 100%;
    height: 25px;
    background-position: 55% -489px;
    float: none;
}

/*.ratingIcon{width:100%; height:25px; background-position:20px -599px; float:none;}
.shareIcon{width:100%; height:25px; background-position:20px -545px; float:none; }*/

/*---------Product Details-------------*/
.productIcon {
    width: 30px !important;
    height: 20px;
    background-position: 0px -442px;
    float: none;
    display: inline-block;
    line-height: 20px;
    display: none;
}

.productDetails {
    padding: 5px 15px;
}

.productDetails h2 {
    font: 15px 'robotomedium';
    color: #8db450;
    margin-bottom: 10px;
}

.productDetails p {
    font: 10px "Trebuchet MS", Helvetica, sans-serif;
    color: #343434;
    margin-bottom: 10px;
}

.productDetails ul {
    list-style: none;
    margin: 10px;
}

.productDetails ul li {
    border-bottom: 1px dotted #bebebe;
    font: 11px/30px "Trebuchet MS", Helvetica, sans-serif;
    color: #343434;
}

.productDetails ul li span {
    font: 11px/30px 'robotoregular';
}

.productDetails .detailsList {
    margin: 10px 0px;
}

.productDetails .detailsList li {
    border-bottom: 0px;
    width: 100%;
    float: left;
}

.productDetails .detailsList li .imageBox {
    float: left;
    width: 21%;
    margin-right: 3%;
}

.productDetails .detailsList li .imageBox img {
    width: 100%;
}

.productDetails .detailsList li .contentBox {
    float: right;
    width: 76%;
}

.productDetails .detailsList li .contentBox h3 {
    font: 11px 'robotoregular';
    color: #eb4317;
}

.productDetails .detailsList li .contentBox p {
    font: 10px 'robotoregular';
}

.productNameDescription {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 15px 10px 10px 10px;
    text-align: left;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.offer-title {
    background: rgba(0, 0, 0, 0.5);
    height: 20px !important;
    position: absolute;
    bottom: 10px;
    display: table;
    color: #fff;
    font-size: 10px;
    z-index: 999;
    width: 100%;
    text-align: center;
    line-height: 20px
}

.offerContainer {
    padding: 3px 5px;
    width: 100%;
    border: 1px solid lightgrey;
    height: 70px;
    display: table;
}

.thumbslides .offerContainer {
    padding: 3px 5px;
    width: 90% !important;
    border: 1px solid lightgrey;
    height: 70px;
    display: table;
    margin-left: 10%;
    margin-right: 0;
}

.offerContainer .offer-merchant {
    font-size: 9px !important;
    text-transform: uppercase;
    word-spacing: 3px;
    border-bottom: 2px double grey;
    color: salmon;
    font-weight: bolder;
    letter-spacing: 1px;
    overflow: hidden;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    word-spacing: 3px;
    margin-bottom: 5px;
}

.offerContainer .offer-info {
    overflow: hidden;
    position: relative;
}

.offerContainer .offer-price {
    font-size: 9px;
    display: block;
    width: 100%;
}

.offerContainer .offer-price-holder {
    width: 100%;
}

.offerContainer .offer-price .original-price {
    color: lightgray;
    font-weight: bold;
    padding: 0 5px 0 0;
    text-decoration: line-through;
}

.offerContainer .offer-price .deal-price {
    color: green;
    font-weight: bold;
    padding: 0 5px;
}

.offerContainer .offer-date {
    width: 100%;
    color: #aabbaa;
    font-size: 9px;
    padding: 5px 0px;
    display: block;
}

.offerContainer .offer-date .deal-date {
    width: 100%;
}

.offer-info .offer-link {
    background-color: yellowgreen;
    border-radius: 12.5px;
    color: #ffffff;
    font-size: 0.9em;
    height: 20px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Chrome, Safari, Opera */
    width: 20px;
}

.offer-info button {
    border: none;
}

.offer-info .offer-link i {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

/*---------Product Details-------------*/

/*---------footer menu popups-------------*/
/*-------reviews and rating----------*/
.popUpContainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 5px;
}

.popUpContainer .content {
    min-height: 130px;
    padding: 15px;
}

.popUpContainer .info-content {
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.popUpContainer .info-content .ui-widget {
    font-size: 14px;
}

.popUpContainer .info-content .ui-widget .rating-head {
    width: 100%;
    display: table;
    margin-bottom: 10px;
}

.popUpContainer .product-rating {
    margin-bottom: 15px;
    margin-left: 10px;
    overflow: hidden;
    width: 70%;
}

.popUpContainer .ui-widget .ui-rating-star {
    cursor: pointer;
    display: block;
    float: left;
    overflow: hidden;
    text-indent: -999em;
}

.popUpContainer .ui-widget .ui-rating-star a {
    background: url(../img/rating.png) center no-repeat;
    display: block;
    height: 15px;
    width: 16px;
}

.popUpContainer .product-review {
    border-radius: 0;
    box-shadow: none;
    height: 30px;
    margin: 0 0 10px;
    width: 75%;
}

.popUpContainer .ui-inputfield {
    font-weight: normal;
    outline: medium none;
    padding: 4px;
    background: none repeat scroll 0 0 #ffffff;
    color: #313131;
    border: 1px solid #a8a8a8;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.popUpContainer .ui-button {
    cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}

.popUpContainer .ui-button .ui-button-text {
    font-size: 1em;
    padding: 0.4em 0.9em;
    display: block;
    line-height: 1.4;
}

.popUpContainer .post-review {
    border-radius: 0;
    height: 30px;
    margin: 0;
    width: 25%;
}

.popUpContainer .ui-state-default {
    background: -moz-linear-gradient(center top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #c4c4c4;
    background: linear-gradient(center top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #c4c4c4;
    background: -webkit-linear-gradient(center top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #c4c4c4; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(center top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) repeat scroll 0 0 #c4c4c4; /* For Opera 11.1 to 12.0 */
    border: 1px solid #a8a8a8;
    color: #4f4f4f;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.popUpContainer .current-reviews {
    background-color: #eeeeff;
    float: left;
    padding: 5px 5px 15px 5px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    position: relative;
}

.popUpContainer .current-reviews i {
    position: absolute;
    right: 5px;
    top: 20px;
}

.popUpContainer .reviews-list {
    display: none;
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}

.popUpContainer .reviews-list .comment-box {
    background-color: whitesmoke;
    margin: 2px;
    overflow: hidden;
    padding: 5px;
}

.popUpContainer .reviews-list .comment-box .comment-text {
    font-size: 12px;
}

/*-----reviews and rating-----*/
/*---------video and blogs------*/
.content .add-video-blog-url {
    margin: 0 0 20px;
}

.ui-radiobutton {
    display: inline-block;
    line-height: 16px;
    margin: 3px 0;
    width: 16px;
}

.ui-helper-hidden-accessible {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 0;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0;
}

.ui-radiobutton .ui-radiobutton-box {
    border-radius: 10px;
    height: 16px;
    line-height: 16px;
    width: 16px;
}

.add-video-blog-url label {
    margin: 0px 5px;
}

.add-video-blog-url input[type=radio].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.add-video-blog-url input[type=radio].css-checkbox + label.css-label {
    padding-left: 20px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;

}

.add-video-blog-url input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
}

.add-video-blog-url label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_5a2a6f6a127d915627c0a3cea60dcfdb.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-radiobutton-icon {
    margin-left: 1px;
}

.ui-icon {
    background-image: url("/trendBrewDev/javax.faces.resource/images/ui-icons_616161_256x240.png.jsf?ln=primefaces-aristo");
    height: 16px;
    width: 16px;
}

.ui-state-default .ui-icon {
    background-image: url("/trendBrewDev/javax.faces.resource/images/ui-icons_38667f_256x240.png.jsf?ln=primefaces-aristo");
}

.ui-selectmanycheckbox label, .ui-selectoneradio label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 20px;
    margin-right: 60px;
    display: block;
    margin-top: 4px;
}

.popUpContainer .video-blog-list {
    margin-top: 5px;
    overflow: hidden;
    width: 100%;
}

.popUpContainer .video-blog-list .add-video-blog-header {
    font-size: 1.1em;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
    word-spacing: 3px;
}

.popUpContainer .video-blog-list
.entry-url {
    background-color: #dceefc;
    font-size: 0.9em;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin: 1px 1px 1px 5px;
    overflow: hidden;
    padding: 2px 10px;
}

.popUpContainer .video-blog-list
.entry-index {
    width: 10%;
}

.popUpContainer .video-blog-list .url {
    color: darkslateblue;
    display: inline-block;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    font-size: 12px;
}

.popUpContainer .video-blog-list .url-type {
    display: inline-block;
    width: 10%;
    margin-top: 3px;
}

.popUpContainer .video-blog-list .more-links {
    color: #696969;
    font-size: 0.8em;
    font-weight: bold;
}

/*---------video and blogs------*/
*::-moz-placeholder {
    color: darkgrey;
    font-style: italic;
}

/*-----galleryContainer----*/
.galleryContainer {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: table;
    padding: 5px;
}

.galleryContainer .imgHolder {
    width: 48%;
    height: auto;
    overflow: hidden;
    margin: 1%;
    float: left;
}

.galleryContainer .imgHolder .offer-title {
    position: static;
}

.galleryContainer .imgHolder .offerContainer {
    width: 100%;
    -moz-box-shadow: 1px 0px 2px 1px #ccc;
    -webkit-box-shadow: 1px 0px 2px 1px #ccc;
    box-shadow: 1px 0px 2px 1px #ccc;
}

/*-----galleryContainer----*/

/*-----product Container----*/
.productContainer {
    width: 100%;
    overflow: hidden;
    height: auto;
    display: table;
    padding: 5px;
}

.productContainer .imgHolder {
    width: 46.7%;
    height: 100px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden;
    margin: 5px;
    float: left;
    text-align: center;
    position: relative;
}

.productContainer .imgHolder .product-suggestion-offer-count {
    background-color: forestgreen;
    bottom: auto;
    color: whitesmoke;
    font-size: 0.8em;
    font-weight: bolder;
    left: auto;
    letter-spacing: 1px;
    padding: 5px 30px;
    position: absolute;
    right: -30px;
    text-transform: capitalize;
    top: 6px;
    transform: rotate(35deg);
    -ms-transform: rotate(35deg); /* IE 9 */
    -webkit-transform: rotate(35deg); /* Chrome, Safari, Opera */
    word-spacing: 3px;
    z-index: 1030;
}

/*-----product Container----*/
/*---------footer menu popups-------------*/

/*-------------Favourite Merchants----------------*/
.merchantList1 {
    width: 100%;
    float: left;
}

.merchantList1 li {
    list-style: none;
    width: 46%;
    float: left;
    margin: 1.5%;
    background: #fff;
    height: 65px;
}

.merchantList1 li .favMerchant {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    height: 63px;
    line-height: 63px;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.overlayBg1 {
    width: 100%;
    height: 20px !important;
    float: left;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    line-height: 20px;
    color: #fff;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    display: block;
}

.overlayBg1 a {
    color: #fff !important;
    height: 20px;
    display: block;
    width: 100%;
    float: left;
}

.merchantList1 li .favMerchant a {
    display: inline-block;
    line-height: 63px;
    height: 63px;
    vertical-align: middle;
}

.merchantList1 li .favMerchant img {
    width: 80%;
    vertical-align: middle;
    height: 50px;
    margin: 5px auto;
}

.selectMark {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    right: 3%;
    background-position: 0px -720px;
    cursor: pointer;
}

.backgroundBg {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3);
}

.backgroundBg a {
    display: table;
    width: 100%;
    text-algin: center;
    color: #fff;
    line-height: 20px !important;
}

/*---------Login-----------*/
.login-block.card, .list-inset {
    margin: 15px auto;
    height: 40px;
    border-radius: 0px !important;
    width: 90%;
}

.login-block .item-input {
    padding: 3px 0 5px 11px;
    border-radius: 0px !important;
    border: 1px solid #ccc !important;
}

.login-block input[type="text"], .login-block input[type="password"], .login-block input[type="email"] {
    padding-top: 0px;
    height: 30px !important;
    border: 0px;
    font-size: 14px;
}

.login-block .button-small {
    width: 47%;
    margin-left: 0%;
    min-height: 40px;
    font-size: 14px;
    border: 1px solid #fff !important;
    border-radius: 0px;
}

.login-block .button-small:nth-child(1), .login-block .button-small:nth-child(3) {
    margin-right: 4%;
}

.login-btns {
    width: 90%;
    margin: 0px auto;
}

/*-------Search-------*/
.searchBtn1 {
    color: #fff;
    display: block;
    padding: 10px 7px 10px 10px;
    text-align: center;
    font-size: 20px !important;
    margin-top: -4px;
}

.closeBtn {
    color: #fff;
    display: block;
    padding: 10px;
    line-height: 30px;
    text-align: center;
    font-size: 15px !important;
    background: transparent none repeat scroll 0 0;
    position: absolute;
    top: -2px;
    right: 0px;
}

.searchBox {
    padding: 10px;
    height: 50px;
    background: #fff;
    z-index: 99;
    width: 100%;
    margin-left: 0px;
    display: table;
    position: relative;
    margin-top: 40px;
    text-indent: 10px;
    box-shadow: 0px 1px 2px #ccc;
}

.searchBox input {
    border: 1px solid #ccc;
    width: 74%;
    height: 30px;
    display: table;
    text-indent: 5px;
    float: left;
}

.searchBox .searchBtn2 {
    background: #eb4317;
    min-height: 30px !important;
    line-height: 30px;
    float: right;
    font-size: 14px;
    color: #fff;
    padding: 0px 10px;
    border: 0px;
}

.fixedHeader {
    display: table;
    width: 100%;
    position: fixed;
    min-height: 40px;
    top: 40px;
    background: #fff;
    z-index: 9999;
}

.swiper-container {
    width: 100% !important;
    background: none repeat scroll 0 0 #838383;
}

.swiper-slide {
    width: 25% !important;
}

/*.swiper-slide .title{background:#838383 !important;}*/
.swiper-slide .title a {
    color: #fff !important;
    display: block !important;
    width: 100%;
    height: 44px;
    padding: 0px;
    margin-top: 0px;
}

/*.swiper-slide .title:hover {background: none repeat scroll 0 0 #9acd32 !important;}*/
.salesbar .swiper-slide {
    width: 33.3% !important;
}

.salesbar .trendscores {
    width: 35.5% !important;
}

.trendNetwork {
    width: 100% !important;
}

.trendNetwork .swiper-slide {
    width: 50% !important;
}

.trendNetwork1 {
    width: 200% !important;
}

.trendNetwork1 .swiper-slide {
    width: 25% !important;
    float: left;
}

.bar .title {
    text-align: left !important;
    overflow: hidden;
    position: relative !important;
    left: 0px !important;
    height: 36px !important;
    line-height: 36px !important;
    font-weight: bold;
    font-size: 20px;
}

/*.bar-header .left-buttons{background:#eb4317;}*/
.bar-header ul li a {
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 36px;
}

.bar-header ul li {
    padding-left: 0px;
}

.loginButtons {
    display: block;
    border-top: 1px solid #ccc;
}

.loginButtons li {
    float: none;
}

.loginButtons li a span {
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    display: block;
    float: left;
    font-size: 25px;
}

.loginButtons li a span i {
    line-height: 50px;
}

.bar-stable li {
    overflow: hidden;
    padding: 0px;
}

.bar-stable li a {
    color: #fff;
    line-height: 40px !important;
    width: 100%;
}

.bar-stable li a .user {
    margin: 3px 10px 3px 10px;
}

.bar-stable li a:hover, .bar-stable li a:active {
    background: none !important;
}

.error_message {
    color: #f00;
    text-indent: 20px;
    height: 20px;
}

.priceList, .socialList {
    width: 94%;
    margin: 0px 3% 10px 3%;
    display: table;
    color: #262626;
    padding-top: 25px;
}

.priceList p, .socialList p {
    padding: 10px;
    margin: 0px 0 10px 0;
    background: #f7f7f7;
    color: #262626;
    position: relative;
}

.socialList p {
    font-size: 10px;
}

.priceList p span, .socialList p span {
    margin-right: 5px;
    font-weight: bold;
}

.priceList p span:nth-child(4) {
    font-size: 9px;
    color: #ccc;
}

.priceList p span:last-child {
    float: right;
    font-weight: normal;
    background: #ccc;
    position: absolute;
    top: 6px;
    right: 2px;
    padding: 5px 10px;
}

.priceList a, .socialList a {
    float: right;
    display: block;
    color: #262626;
    margin-top: -18px;
}

.facebookBg {
    background: #4a87ee !important;
    color: #fff !important;
}

.twitterBg {
    background: #43cee6 !important;
    color: #fff !important;
}

.mtRecords {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: table;
    line-height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#filter {
    width: 100%;
    height: 30px;
    display: table;
    float: right;
    margin-bottom: 2px;
}

.dropdown {
    float: right;
    background: #eee;
}

.dropdown dd, .dropdown dt, .dropdown ul {
    margin: 0px;
    padding: 0px;
}

.dropdown dd {
    position: relative;
}

.dropdown a, .dropdown a:visited {
    color: #816c5b;
    text-decoration: none;
    outline: none;
}

.dropdown a:hover {
    color: #5d4617;
}

.dropdown dt a:hover {
    color: #5d4617;
    border: 1px solid #ccc;
}

.dropdown dt {
    border-radius: 5px;
}

.dropdown dt a {
    display: block;
    padding-right: 20px;
    border: 1px solid #ccc;
    width: 135px;
}

.dropdown dt a span {
    background: #eee;
    cursor: pointer;
    display: block;
    padding: 5px;
}

.dropdown dd ul {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #d4ca9a;
    color: #C5C0B0;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 2px;
    width: auto;
    min-width: 135px;
    list-style: none;
    z-index: 9999;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #ccc;
}

.dropdown img.flag {
    border: none;
    vertical-align: middle;
    margin-left: 10px;
}

.flagvisibility {
    display: none;
}

.heading {
    display: table;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 2px;
}

#floatingCirclesG {
    position: relative;
    width: 60px;
    height: 60px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
    line-height: 600px;
    margin: 250px auto 48% auto;

}

.f_circleG {
    position: absolute;
    background-color: #FFFFFF;
. bar . title height : 11 px;
    width: 11px;
    -moz-border-radius: 5px;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 1.2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 5px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 5px;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 1.2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 5px;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 1.2s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 5px;
    animation-name: f_fadeG;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

#frotateG_01 {
    left: 0;
    top: 25px;
    -moz-animation-delay: 0.45s;
    -webkit-animation-delay: 0.45s;
    -ms-animation-delay: 0.45s;
    -o-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

#frotateG_02 {
    left: 7px;
    top: 7px;
    -moz-animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
    -ms-animation-delay: 0.6s;
    -o-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

#frotateG_03 {
    left: 25px;
    top: 0;
    -moz-animation-delay: 0.75s;
    -webkit-animation-delay: 0.75s;
    -ms-animation-delay: 0.75s;
    -o-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#frotateG_04 {
    right: 7px;
    top: 7px;
    -moz-animation-delay: 0.9s;
    -webkit-animation-delay: 0.9s;
    -ms-animation-delay: 0.9s;
    -o-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

#frotateG_05 {
    right: 0;
    top: 25px;
    -moz-animation-delay: 1.05s;
    -webkit-animation-delay: 1.05s;
    -ms-animation-delay: 1.05s;
    -o-animation-delay: 1.05s;
    animation-delay: 1.05s;
}

#frotateG_06 {
    right: 7px;
    bottom: 7px;
    -moz-animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
    -ms-animation-delay: 1.2s;
    -o-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

#frotateG_07 {
    left: 25px;
    bottom: 0;
    -moz-animation-delay: 1.35s;
    -webkit-animation-delay: 1.35s;
    -ms-animation-delay: 1.35s;
    -o-animation-delay: 1.35s;
    animation-delay: 1.35s;
}

#frotateG_08 {
    left: 7px;
    bottom: 7px;
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #000000
    }

    100% {
        background-color: #FFFFFF
    }

}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #000000
    }

    100% {
        background-color: #FFFFFF
    }

}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #000000
    }

    100% {
        background-color: #FFFFFF
    }

}

@-o-keyframes f_fadeG {
    0% {
        background-color: #000000
    }

    100% {
        background-color: #FFFFFF
    }

}

@keyframes f_fadeG {
    0% {
        background-color: #000000
    }

    100% {
        background-color: #FFFFFF
    }

}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
    .menu-left .scroll-content {
        background-image: url("https://dl.dropboxusercontent.com/u/154646123/fifa-world-cup-2x.png") !important;
    }
}

@media (max-height: 340px) {
    .menu-left .scroll-content {
        background-image: none !important;
    }
}

@media (max-width: 400px) {
    .productList li {
        width: 46.75% !important;
    }

    .merchantList li, .brandList li {
        /*width:31.2% !important;*/
        float: left;
    }

    .brandList li .brand .titleBg span {
        margin-left: 20%;
    }

    .shippingList li {
        width: 21.5% !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {
    .productList li {
        width: 31.6%;
    }

    .merchantList li, .brandList li {
        width: 23% !important;
    }

    .brandList li .brand .titleBg span {
        margin-left: 25%;
    }

    .brandList li {
        height: 110px;
    }

    .brandList li .brand {
        height: 109px;
    }

    .brandList li .brand .offersImage {
        height: 115px !important;
    }

    .brandList li .brand .offersImage img {
        height: 109.7px;
    }

    #floatingCirclesG {
        margin-top: 130px;
    }
}

.thumbslides {
    margin-top: 10px;
}

.arrow-container {
    width: 100%;
    background: transparent;
    display: block !important;
    height: 55px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    z-index: 9999 !important;
}

/* jssor slider arrow navigator skin 03 css */
/*
            .jssora03l                  (normal)
            .jssora03r                  (normal)
            .jssora03l:hover            (normal mouseover)
            .jssora03r:hover            (normal mouseover)
            .jssora03l.jssora03ldn      (mousedown)
            .jssora03r.jssora03rdn      (mousedown)
            */
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(../img/a03.png) no-repeat 0 0;
    overflow: hidden;
    top: 0px !important;
    display: block !important;
}

.jssora03l {
    background-position: -3px -33px;
}

.jssora03r {
    background-position: -63px -33px;
}

.jssora03l:hover {
    background-position: -123px -33px;
}

.jssora03r:hover {
    background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
    background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
    background-position: -303px -33px;
}

/* jssor slider bullet navigator skin 03 css */
/*
            .jssorb03 div           (normal)
            .jssorb03 div:hover     (normal mouseover)
            .jssorb03 .av           (active)
            .jssorb03 .av:hover     (active mouseover)
            .jssorb03 .dn           (mousedown)
            */
.jssorb03 {
    position: absolute;
}

.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    /* size of bullet elment */
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url(../img/b03.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}

.jssorb03 div {
    background-position: -5px -4px;
}

.jssorb03 div:hover, .jssorb03 .av:hover {
    background-position: -35px -4px;
}

.jssorb03 .av {
    background-position: -65px -4px;
}

.jssorb03 .dn, .jssorb03 .dn:hover {
    background-position: -95px -4px;
}

.product-tab-page {
    background: none repeat scroll 0 0 #fff;
    height: 100vh;
    position: absolute;
    top: 15%;
    width: 100%;
    z-index: 9999;
}

/* Empty. Add your own CSS if you like */

/*.first_load .icon-refreshing{*/
/*height: 100%;*/
/*font-size: 50px;*/
/*}*/
.bar-positive {
    z-index: 2;
}
.bar-subheader {
    display: block;
    top: 0;
    padding: 0;
}
.bar-subheader {
    z-index: 1;
    -webkit-transition: top 0.25s ease;
    transition: top 0.25s ease;
}

.has-subheader {
    top: 44px;
}
.has-subheader .scroll {
    padding-top: 44px;
}

.bar-subheader-slide-away .bar-subheader {
    top: -75px;
}
.bar-subheader-slide-away .has-subheader {
    top: -75px;
}
.marginT50{
    margin-top: 50px;
}
.padding5{
    padding: 5px;
}
.ion-loop:before, .ion-looping:before{
    /*padding-top: 10px;*/
}